.htaccess
build/
build_schema.sh
composer.phar
config/local.config.php
config/database.ini
data/doctrine-proxies/
data/logs/sql.log
data/logs/application.log
module/Omeka/test/test.config.php
vendor/
