.htaccess
build/
build_schema.sh
config/local.config.php
config/database.ini
data/doctrine-proxies/
data/logs/sql.log
data/logs/application.log
application/Omeka/test/config/database.ini
vendor/
.sass-cache
