@media screen{*{box-sizing:border-box}html{height:100%;padding:0;margin:0}body{background-color:#f8f8f8;font-family:"Open Sans",sans-serif;font-size:20px;line-height:30px;margin:0;word-wrap:break-word;overflow-x:none}a:link{text-decoration:none;color:#920b0b}a:visited{color:#920b0b}a:active,a:hover{color:#ed1616}h1{font-size:40px;line-height:60px}h2{font-size:30px;line-height:45px}h3{font-size:25px;line-height:45px}h4{font-size:22.5px}img{max-width:100%;height:auto}input,textarea,button,.button,select{font-family:"Open Sans",sans-serif;font-size:20px;line-height:30px;margin:0;vertical-align:top}input[type=text],input[type=number],input[type=password],input[type=email],input[type=url],textarea{appearance:none;border-radius:0;border:1px solid #dedede;padding:6.5px 7.5px;margin:0}textarea{height:90px}input[type=file]{line-height:1;vertical-align:bottom;font-size:15px}button,.button,a.button,a.button:visited,[type=submit]{border:1px solid #dedede;background-color:#dedede;border-radius:2px;padding:7.5px;display:inline-block;appearance:none;-webkit-appearance:none;-moz-appearance:none;border:0;cursor:pointer;color:#000}button:hover,.button:hover,a.button:hover,a.button:visited:hover,[type=submit]:hover{opacity:1}select{background-color:#fff;padding:7.5px;border:1px solid #dedede}::-webkit-input-placeholder{font-style:italic}:-moz-placeholder{font-style:italic}::-moz-placeholder{font-style:italic}:-ms-input-placeholder{font-style:italic}.field{margin:30px 0;display:flex;flex-wrap:wrap}.field .inputs input[type=checkbox]{vertical-align:bottom}.field .field-meta{padding:7.5px 45px 7.5px 0;position:relative;width:100%}.field.multi-value .label,.field.multi-value .field-description{margin-right:7.5px}.field.required .field-meta:after{content:"";font-family:"Font Awesome 5 Free";font-size:15px;font-weight:900}.field .add-value{position:absolute;right:.25rem;top:0;width:45px}.field .value:not(:last-child){margin-bottom:15px}.field-description{font-size:15px}.field .inputs{width:100%}.field .value *{max-width:100%}.field .value select{width:100%;margin-bottom:7.5px}#skipnav{position:fixed;top:30px;left:50%;border:1px solid #ababab;transform:translateX(-50%);z-index:-5;padding:7.5px;background-color:#fff;opacity:0}#skipnav:focus{z-index:1000;opacity:1}header h1{margin:0}header nav{position:relative;padding:0}header nav ul{height:0;list-style:none;overflow:hidden;margin:0;padding:0}header nav ul ul{display:none}header nav ul ul.open{display:block}#mobile-nav-toggle{display:block;width:37.5px;height:37.5px;border:1px solid #dedede;text-align:center;border-radius:2px;position:absolute;right:30px;top:-45px;cursor:pointer;line-height:1}#mobile-nav-toggle:before{font-family:"Font Awesome 5 Free";content:"";font-weight:900}header nav.open{margin:0 0 -1px}header nav.open #mobile-nav-toggle:before{content:""}header nav.open ul{padding-left:0;position:relative;margin:0 auto;height:auto}header nav.open ul a{display:inline-block;width:100%;padding:7.5px;padding-left:30px}header nav.open ul a:focus{position:relative;z-index:1}header nav.open ul a:hover{border-bottom:0;background-color:#dedede}header nav.open ul li li:last-of-type{padding-bottom:0}header nav.open ul li.active{font-weight:bold}header nav.open ul li.parent{position:relative}header nav.open ul .parent-link{display:flex}header nav.open ul .parent-link>a{width:calc(100% - 60px)}header nav .child-toggle{color:#dedede;width:60px;text-align:center;background-color:#fff;border-left:1px solid #dedede;appearance:none}header nav .child-toggle:before{font-family:"Font Awesome 5 Free";content:"";font-weight:900}header nav .child-toggle.open:before{content:""}header nav.open ul.open{overflow:visible}header nav.open>ul>li{border-top:1px solid #dedede;position:relative}header nav>ul>li:last-child{border-bottom:1px solid #dedede;padding-bottom:-1px}header nav>ul ul li{height:0;border:0}header nav ul.open>li{height:auto;border-top:1px solid #dedede;padding-top:-1px}header nav>ul>li>ul>li.active>a{margin-left:-1.5em}header nav>ul>li>ul>li.active>a:before{content:">";display:inline-block;width:1.5em}header nav.open>ul>li>ul>li a{padding-left:75px}header nav.open>ul>li>ul>li>ul>li a{padding-left:90px}header nav.open>ul>li>ul>li>ul>li>ul>li a{padding-left:105px}.sub-menu ul{padding-left:0;list-style-type:none;margin-top:15px}.sub-menu li{font-size:15px;font-weight:bold;border-bottom:1px solid #dedede;padding:7.5px 0 6.5px}.sub-menu li:first-of-type{border-top:1px solid #dedede;padding-top:6.5px}nav.pagination{margin-bottom:30px;font-size:20px;line-height:45px;display:inline-flex;flex-wrap:wrap;align-items:center}.pagination input{text-align:center}.resource-list+.pagination{border-color:transparent}.pagination form{min-width:90px;margin-right:15px}.pagination form,.pagination .button,.pagination button,.pagination .page-count{display:inline-block;vertical-align:top;height:45px}.pagination-buttons{margin-right:15px}.pagination .button{border:1px solid #dedede;background-color:#dedede;border-radius:2px;padding:7.5px;display:inline-block;appearance:none;-webkit-appearance:none;-moz-appearance:none;border:0;cursor:pointer;color:#000;width:45px;text-align:center}.pagination .button:hover{opacity:1}.pagination .inactive.button{opacity:.5;color:#ababab;background-color:#fff}.pagination input{width:60px}.breadcrumbs{font-size:15px;margin:15px 0}h1.site-title{font-size:25px;line-height:30px;padding:15px 45px 15px 30px;margin:0}header{margin:0 0 75px;position:relative}.site-title,#top-nav{max-width:1700px;margin-left:auto;margin-right:auto;background-color:#fff}.site-title:hover,.site-title:active{border-bottom:0}.site-title h1{margin:0}button.o-icon-search{display:none}#search{position:relative;max-width:1700px;margin-left:auto;margin-right:auto}#search form{display:flex;flex-wrap:nowrap;background-color:#fff;border-bottom:1px solid #dedede;border-top:1px solid #dedede;padding:7.5px 30px}#search form input[type=text]{width:100%}#search form button[type=submit]{height:45px;width:45px;text-indent:-9999px;position:relative;border-radius:0 3px 3px 0}#search form button[type=submit]:before{content:"";font-family:"Font Awesome 5 Free";font-weight:900;position:absolute;top:0;left:0;right:0;text-align:center;text-indent:0;line-height:45px}.banner{position:relative;display:flex;align-items:center;overflow:hidden}.banner img{width:100%}footer{max-width:1700px;margin-left:auto;margin-right:auto;padding:0 30px 30px;clear:both}#content{max-width:1700px;margin-left:auto;margin-right:auto;padding:0 30px 30px}.resource-list.preview+a{border:1px solid #dedede;background-color:#dedede;border-radius:2px;padding:7.5px;display:inline-block;appearance:none;-webkit-appearance:none;-moz-appearance:none;border:0;cursor:pointer;color:#000}.resource-list.preview+a:hover{opacity:1}.resource-list.preview+a{color:#000}.resource-list.preview+a:hover{background-color:#787878;border-bottom-width:0px;color:#fff}.spotlight{clear:both;padding:30px;padding-right:calc(50% + 30px);background-position:right center;background-repeat:no-repeat;background-size:50%;margin:60px 0}.spotlight.left-image{background-position:left center;padding-left:calc(50% + 30px);padding-right:0}.dark-accent{color:#fff;position:relative;padding-top:30px;padding-bottom:30px;display:flow-root;clear:both}.dark-accent:after{content:"";background-color:#787878;z-index:-1;position:absolute;left:-9999px;right:-9999px;top:0;bottom:0}.dark-accent a:link{font-weight:bold}.dark-accent a:link,.dark-accent a:visited{color:#ddd}.dark-accent ul.resource-list .resource,.dark-accent ul.preview.resource-list li:first-of-type{border-color:#9b9b9b}.dark-accent button,.dark-accent a.button,.dark-accent .resource-list.preview+a,.dark-accent [type=submit]{background-color:#ddd;color:#787878;font-weight:normal}.dark-accent .carousel-block button{background-color:transparent;color:#fff}.light-accent{position:relative;padding-top:30px;padding-top:30px;display:flow-root;clear:both}.light-accent:after{content:"";background-color:#fff;z-index:-1;position:absolute;left:-9999px;right:-9999px;top:0;bottom:0;border:1px solid #dedede}}@media screen and (max-width: 799px){.spotlight{padding-right:0 !important;padding-left:0 !important;padding-top:33rem;background-position:center 30px !important;background-size:auto 30rem}}@media screen{.template-3-grid.assets{display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-rows:1fr;grid-gap:30px}}@media screen and (max-width: 799px){.template-3-grid.assets{grid-template-columns:1fr 1fr}}@media screen and (max-width: 399px){.template-3-grid.assets{grid-template-columns:1fr}}@media screen{.template-3-grid .asset-container{aspect-ratio:4/3;width:100%;height:auto;overflow:hidden;margin-bottom:7.5px}}@media screen{.template-3-grid.assets .asset img{object-fit:cover;width:100%;height:100%;max-width:none}}@media screen{.page-layout-grid .block-media{container-type:inline-size}}@media screen{.page-layout-grid .block-media.block-layout-alignment-block-right,.page-layout-grid .block-media.block-layout-alignment-block-left,.page-layout-grid .block-media.block-layout-alignment-block-center{container-type:normal}}@media screen{.page-layout-grid .block-media.has-background{align-self:start}}@media screen{.media-card.media-embed{--grid-column-count: 2 !important;--grid-item--min-width: 150px;--grid-layout-gap: 24px;--gap-count: calc(var(--grid-column-count) - 1);--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));display:grid;grid-template-columns:repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));grid-gap:var(--grid-layout-gap);width:100vw;max-width:100%;align-items:stretch;color:#000}.media-card.media-embed a:link,.media-card.media-embed a:visited{color:#920b0b}.media-card.media-embed .resource{display:flex;background-color:#fff;padding:30px;align-items:center;border:1px solid #dedede;height:100%}.media-card.media-embed .resource-meta{width:50%;padding-left:30px}.media-card.media-embed .resource>a,.media-card.media-embed .media-render{max-width:50%}.media-card.media-embed .resource:not(:last-child){margin-bottom:0}}@media screen{@container (max-width:799px){.media-card.media-embed{--grid-column-count: 1 !important}}}@media screen{ul.resource-list{list-style-type:none;padding-left:0}}@media screen{ul.resource-list .resource{border-bottom:1px solid #dedede;padding-bottom:29px;margin:30px 0;overflow:hidden;position:relative}ul.resource-list .resource>*:last-child{margin-bottom:0}ul.resource-list .resource:first-child{border-top:1px solid #dedede;padding-top:29px}}@media screen{ul.resource-list .resource img{height:auto;width:60px;float:right;margin-left:15px}}@media screen{ul.resource-list .resource h4{margin-top:0}}@media screen{.body-truncate-fade ul.resource-list .resource .description{overflow:hidden;max-height:120px;position:relative}}@media screen{.body-truncate-fade ul.resource-list .resource .description:after{content:"";position:absolute;top:82.5px;left:0;right:0;height:37.5px;background:linear-gradient(to top, #f8f8f8, rgba(248, 248, 248, 0))}}@media screen{.body-truncate-fade .light-accent ul.resource-list .resource .description::after{background:linear-gradient(to top, white, rgba(255, 255, 255, 0))}}@media screen{.body-truncate-fade .dark-accent ul.resource-list .resource .description::after{background:linear-gradient(to top, #787878, rgba(120, 120, 120, 0))}}@media screen{.body-truncate-ellipsis ul.resource-list .resource .description{overflow:hidden;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical}}@media screen{ul.resource-list .resource img~*{width:calc(100% - 75px)}}@media screen{.search-filters{margin-bottom:30px}}@media screen{.search-filters .filter{display:inline-flex}}@media screen{.filter-label,.filter-value{display:inline-block;border:1px solid #dedede;padding:6.5px}}@media screen{.filter-label{background-color:#dedede}}@media screen{.browse-controls{display:flex;justify-content:space-between;flex-wrap:wrap;align-items:flex-start}}@media screen{.browse-controls .pagination{display:flex}}@media screen{.advanced-search{line-height:45px}}@media screen{.expand:after,.collapse:after{font-family:"Font Awesome 5 Free";font-weight:900}}@media screen{.expand:after{content:""}}@media screen{.collapse:after{content:""}}@media screen{.collapsible{display:none}}@media screen{.collapse+.collapsible{display:block;border-left:3px solid #ababab;padding:7.5px 30px;margin:15px 0;width:100%}}@media screen{body.resource #content>h2:first-of-type+h3{font-size:15px;text-transform:uppercase;margin:-30px 0 30px}}@media screen{.property{margin-bottom:30px}.property:last-child{margin-bottom:0}}@media screen{.property dt{margin-bottom:0;font-size:15px;font-weight:bold}.property dt:first-child{margin-top:0}}@media screen{.value{display:flex;flex-wrap:wrap;align-items:center;margin-left:0}.value:not(:last-child){margin-bottom:15px}}@media screen{.value-content:not(:only-child){margin-right:7.5px}}@media screen{.resource-link img{width:auto;height:45px;display:inline-block;vertical-align:middle;margin-right:7.5px}}@media screen{.property .value a{display:inline-block;vertical-align:bottom}}@media screen{.property .value:not(:last-child) img{margin-bottom:7.5px}}@media screen{.property .value:not(:last-child) img+a{margin-bottom:7.5px}}@media screen{.property .value .language{background-color:#d1d1d1;padding:0 7.5px;font-size:15px;margin-right:7.5px}}@media screen{.property .private:after{content:"";font-family:"Font Awesome 5 Free";font-size:15px;font-weight:900}}@media screen{.media-list .resource-link{width:100%;display:block}.media-list .resource-link:not(:last-child){margin-bottom:15px}}@media screen{#content .media.resource{display:inline-block;text-align:center;vertical-align:bottom;margin-right:7.5px}#content .media.resource:hover{border-bottom:0}}@media screen{#content .media.resource img{vertical-align:top;margin-bottom:15px}}@media screen{.media-render>*{max-width:100%}}@media screen{#linked-resources caption{text-align:left;font-weight:bold;border-bottom:3px solid #ababab;padding:7.5px 15px 4.5px}}@media screen{.linked-header{margin-bottom:15px}}@media screen{#linked-filter{margin-bottom:15px}}@media screen{#linked-filter label{display:inline-flex;flex-wrap:wrap;align-items:center}}@media screen{.linked-header nav.pagination{margin-bottom:0}}@media screen{#linked-resources table{margin:15px 0}}@media screen{#linked-filter h4{margin-bottom:15px}}@media screen{#linked-resources .resource-link{margin-bottom:0;display:flex;align-items:center}}@media screen{#advanced-search .value:not(:last-child){margin-bottom:15px}}@media screen{.remove-value{position:relative;width:45px;margin-left:7.5px}}@media screen{.results{margin-bottom:60px;clear:both}}@media screen{.results ul{list-style:none;padding-left:0}}@media screen{.results .result-title{font-weight:bold}}@media screen{.results>ul{margin:-15px 0 0 0}}@media screen{.results .result-site,.results ul ul{display:block;padding-left:15px}}@media screen{.results>ul>li{margin-bottom:30px}}@media screen{.pagination+.results{margin:30px 0 0;clear:both}}@media screen{.sitewide-search-form{display:none}}@media screen{.sitewide-search-form~.results+.pagination{margin-top:0}}@media screen{.sitewide-search-form~.advanced-search{display:block}}@media screen{.sitewide-search-form~h2{width:50%;float:left}}@media screen{.sitewide-search-form~.pagination{margin:37.5px 0 30px;text-align:right;width:50%;float:right}}@media screen{.sitewide-search-form~p{clear:both}}@media screen{.index.search .results ul li{margin-bottom:7.5px;padding-bottom:7.5px;border-bottom:1px solid #ababab}}@media screen{.items.search #search{display:none}}@media screen{a.metadata-browse-link{font-size:15px}}@media screen and (min-width: 800px){#content{padding:0 60px 30px}table{margin:30px 0;border-collapse:collapse}th,td{text-align:left;padding:7.5px 15px;padding-bottom:6.5px;border-bottom:1px solid #ababab}.field .field-meta{width:30%;align-self:flex-start}.field .inputs{width:70%;padding-left:30px}.field .value select{width:initial;margin-bottom:0}header{position:relative;margin-bottom:60px}.site-title,#top-nav{padding:0 60px;position:relative}.site-title:before,#top-nav:before{content:"";position:absolute;top:0;bottom:0;left:-9999px;right:-9999px;background-color:#fff;z-index:-1}#top-nav{border-bottom:1px solid #dedede}#top-nav:after{content:"";position:absolute;bottom:-1px;height:1px;left:-9999px;right:-9999px;background-color:#dedede}h1.site-title{margin:0 auto;padding:15px 60px}#search{width:100%;position:absolute;margin-top:-1px;text-align:right;left:50%;transform:translateX(-50%)}#search form{display:inline-flex;padding:7.5px;border-left:1px solid #dedede;border-right:1px solid #dedede}#search form input[type=text],#search form button[type=submit]{height:30px;font-size:15px;line-height:30px}#search form button[type=submit]{width:30px;height:30px;padding:0}#search form button[type=submit]:before{line-height:30px}#top-nav{position:relative}.banner{z-index:-1}footer{padding:0 60px 30px}#mobile-nav-toggle{display:none}header nav{margin:0 auto !important;position:static;padding:0 60px}header nav ul a{padding:0}header nav ul li{position:static}header nav ul a:hover{background-color:transparent}header nav ul li,header nav>ul li:last-child,header nav>ul ul:hover>li{border:0}header nav ul.navigation{margin-left:-7.5px;position:static;display:flex;align-items:flex-end;height:auto}header nav ul.navigation li ul:before{display:none}header nav ul.navigation>li:not(:last-child){margin-right:15px}header nav ul.navigation>li>ul{display:none}header nav ul.navigation>li:hover>ul,header nav ul.navigation>.parent>ul.open{max-width:1700px;margin-left:auto;margin-right:auto;position:absolute;top:100%;left:0;right:0;background-color:#fff;list-style:none;width:100%;padding:14px 60px;border-bottom:0;border-color:#dedede;height:auto;overflow:visible;display:flex;flex-direction:row;flex-flow:row wrap;z-index:1}header nav ul.navigation>li:hover>ul:after,header nav ul.navigation>.parent>ul.open:after{content:"";left:-9999px;right:-9999px;background-color:#fff;position:absolute;top:0;bottom:0;border-bottom:1px solid #dedede;border-top:1px solid #dedede;z-index:-1}header nav ul.navigation>li>ul>li{width:25%;font-size:15px;font-weight:bold}header nav ul.navigation>li>ul>li ul{font-weight:normal;padding-left:15px;list-style-type:none;height:auto}header nav ul.navigation li.parent{position:static}header nav>ul ul li{height:auto;overflow:visible}header nav>ul>li>a{margin:7.5px}header nav>ul>li>*{display:inline-flex;width:100%}header nav ul.open>li{border-top:0}header nav>ul>li>.parent-link>a{margin:7.5px 0 7.5px 7.5px;width:calc(100% - 30px)}header nav ul .child-toggle{display:inline-block;padding:0;border-left:0;width:30px;color:#920b0b}header nav .parent .parent .child-toggle{display:none}header nav ul ul{display:block}header .parent ul a{padding-left:0}header .parent .parent .parent ul a{padding-left:15px}.sub-menu ul{border-bottom:1px solid #dedede;padding-bottom:14px}.sub-menu li{display:inline-block;border:0;padding:0;margin-right:15px}.sub-menu li:first-of-type{border:0;padding:0}.items.search #search{display:block}ul.resource-list .resource img{width:120px;height:auto;float:right;margin-left:15px}ul.resource-list .resource img~*{width:calc(100% - 135px)}body.item-set.item #content{display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:flex-end}body.item-set.item #content>h2,body.item-set.item #content>h3{width:100%}body.item-set .metadata{width:35%;border-left:5px solid #dedede;padding:0 30px}body.item-set .metadata h4:first-of-type{margin-top:0}body.item-set #content .metadata~*{width:65%;border-left:1px solid #dedede;padding-left:30px}body.item-set .item-set-items h3{margin-top:0}body.item-set .metadata~nav.pagination:first-of-type{margin-bottom:0}.results>ul{display:flex;flex-wrap:wrap}.results>ul>li{width:calc(50% - 30px)}.results>ul>li:nth-child(2n){margin-left:30px}.preview-block{clear:both}ul.preview.resource-list li:first-of-type{border-top:1px solid #dedede;padding-top:29px}}

/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #b57f4f;

}



/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

.header .nav a:hover {
    color: #b57f4f;
}

.header .sign-in {
    background-color: #b57f4f;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Hero Section */
/*.hero {
    background-size: cover;
    background-position: center;
    background-color: #594b42;
    color: #fff;
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero .search-bar {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.hero .search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
}

.hero .search-bar button {
    background-color: #b57f4f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}*/

/* About Section */
.about {
    text-align: center;
    padding: 50px 20px;
    background-color: #3a2c24;
    color: #fff;
}

.about h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.about button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b57f4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Excavations Section */
.gallery {
    text-align: center;
    padding: 50px 20px;
    background-color: #1f1712;
    color: #fff;
}
 
.gallery h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.gallery-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gallery-card {
    position: relative;
    width: 300px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
}



.gallery-card .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

/* Footer */
.footer {
    text-align: left;
    padding: 5px;
    background-color: black;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}


/* Search */


.search-results .results-meta {
    font-size: 1.2rem;
    margin: 20px 0;
}

.search-results .result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-results .pagination {
    margin-top: 20px;
    text-align: center;
}


.search-results .view-details {
    background-color: #b57f4f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-results .view-details:hover {
    background-color: #9f6a3f;
}


/* Filtros */
.filters {
    padding: 1rem;
    background: #f5f5f5;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .search-bar {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #ddd;
  }
  
  /* Grid de Resultados */
  .results-grid {
    display: grid;
    gap: 1rem;
  }
  
  .search-result-item {
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    align-items: center;
    background: white;
  }
  
  .search-result-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
  }


  /* Item Card Component */
.item-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    background: white;
    transition: transform 0.2s;
  }
  
  .item-card:hover {
    transform: translateY(-4px);
  }
  
  .item-thumbnail img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .item-metadata {
    padding: 1rem;
  }
  
  .item-metadata h3 {
    margin: 0 0 0.5rem 0;
    color: #2c3e50;
  }
  
  .item-material, .item-location {
    margin: 0.3rem 0;
    color: #7f8c8d;
  }

#content {
    background-color: #594b42;
    color: #fff;
}
