#content {
    padding: 0 (2 * gutter());
}

/* @group ----- Header ----- */

header {
    position: relative;
    padding: rhythm(.5) 0 0 0;
}

header > * {
    padding: 0 (2 * gutter());
}

/* @end */

/* @group ----- Navigation ----- */

header nav {
    margin: 0 auto;
    position: static;
}

header nav:before {
    content: "";
    border: 0;
}

header nav ul a {
    padding: 0;
}

header nav ul li {
    position: static;
}

header nav.closed ul,
header nav ul ul li {
    height: auto;
    overflow: visible;
}

header nav ul a:hover {
    background-color: transparent;
}

header nav ul li,
header nav > ul li:last-child,
header nav > ul ul:hover > li {
    border: 0;
}

header nav ul.navigation {
    margin: 0 auto;
    position: static;

    li ul:before {
        display: none;
    }

    & > li {
        display: inline-block;
    }

    & > li:not(:last-child) {
        margin-right: rhythm(.5);
    }

    & > li > ul {
        position: absolute;
        top: 100%;
        left: -9999px;
        background-color: #fff;
        padding: 0;
        list-style: none;
        width: 100%;
        border-color: $gray;
        @include leading-border(1px, .5, $base-font-size, solid);
        @include trailing-border(1px, .25, $base-font-size, solid);
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        z-index: 1;
    }

    & > li:hover > ul {
        @include container;
        padding: rhythm(.5) (2 * gutter());
        left: 0;
        right: 0;
        border-bottom: 0;
        border-color: $light;

        &:after {
            content: "";
            left: -9999px;
            right: -9999px;
            background-color: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            border-bottom: 1px solid $light;
            z-index: -1;
        }
    }

    & > li > ul > li {
        width: 25%;
        font-size: .75 * $base-font-size;
        font-weight: bold;
    }

    & > li > ul > li ul {
        font-weight: normal;
        padding: 0;
        list-style-type: none;
        height: auto;
    }
}

header nav > ul > li > a {
    margin: rhythm(.25);
}

/* All top-level nav items with siblings are parent items and get an arrow. */
header nav > ul > li > a:not(:only-child):after {
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    margin-left: rhythm(.25);
}

header nav > ul li:hover ul li {
    height: auto;
}

/* Second and Third level items */
header nav > ul > li > ul > li a,
header nav > ul > li > ul > li > ul > li a {
    padding-left: 0;
}

.sub-menu ul {
    border-color: $light;
    @include trailing-border(1px, .5, $base-font-size, solid);
}

.sub-menu li {
    display: inline-block;
    border: 0;
    padding: 0;
    margin-right: rhythm(.5, .75 * $base-font-size);

    &:first-of-type {
        border: 0;
        padding: 0;
    }
}

/* @end */

/* @group ----- Resource List ----- */

ul.resource-list .resource img {
    height: rhythm(4);
    width: auto;
    float: right;
    margin-left: rhythm(.5);
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{rhythm(4.5)});
}

/* @end */

/* @group ----- Item Set ----- */

body.item-set .metadata {
    @include span(4 of 12 alpha);
    border-left: 5px solid $light;
    padding-left: gutter();
    clear: left;
}

body.item-set .metadata h4:first-of-type {
    margin-top: 0;
}

body.item-set .metadata ~ * {
    @include span(8 of 12 omega);
    border-left: 1px solid $light;
    padding-left: gutter();
}

body.item-set .metadata ~ h3,
body.item-set .metadata ~ .resource-list {
    margin: 0;
    padding-bottom: rhythm(1, 1.25 * $base-font-size);
}

body.item-set .metadata ~ nav.pagination:first-of-type {
    margin-bottom: 0;
}

/* @end */

/* @group ----- Page and blocks ----- */

.preview-block {
    clear: both;
}

ul.preview.resource-list li:first-of-type {
    @include leading-border(1px, 1, $base-font-size, solid);
}

/* @end */