* {
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg;
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: $gray;
}

a:active,
a:hover {
    color: $bold;
    border-bottom: 3px solid;
}

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h4 {
    font-size: 1.125 * $base-font-size;
}

img {
    max-width: 100%;
    height: auto;
}

/* @group ----- Forms ----- */

input,
textarea,
button {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
    @include appearance(none);
    @include border-radius(0px);
    height: rhythm(1.5);
    border-color: rgba(0,0,0,.15);
    @include rhythm-borders(1px, 0, $base-font-size, solid);
    padding: rhythm(.25) gutter();
    margin: 0;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

/* @end */

/* @group ----- Navigation ----- */

header nav {
    position: relative;
    margin: rhythm(.5) 0 rhythm(-.5);
}

header nav.closed ul {
    height: 0;
    overflow: hidden;
    margin: 0;
}

header nav:before {
    font-family: "FontAwesome";
    content: "\f0c9";
    display: block;
    width: rhythm(1.25);
    height: rhythm(1.25);
    border: 1px solid $light;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    right: gutter();
    top: rhythm(-2.25);
    cursor: pointer;
    line-height: 1.25 * $base-line-height;
}

header nav.open:before {
    content: "\f00d";
}

header nav ul {
    padding-left: 0;
    list-style: none;
    position: relative;
    margin: 0 auto;

    a {
        display: inline-block;
        width: 100%;
        padding: rhythm(.25);
    }

    a:hover {
        border-bottom: 0;
        background-color: $light;
    }

    li {
        border-color: $light;
        @include leading-border(1px, 0, $base-font-size, solid);
        position: relative;
    }

    li li:last-of-type {
        padding-bottom: 0;
    }

    li > ul:before {
        font-family: "FontAwesome";
        content: "\f105";
        position: absolute;
        right: 0;
        top: rhythm(-1.5);
        color: $light;
        width: rhythm();
        height: rhythm(1.5);
        line-height: 1.5 * $base-line-height;
        text-align: center;
    }

    li > ul:hover:before {
        content: "\f107";
    }

    a:hover ~ ul:before {
        color: $gray;
    }
}

header nav > ul > li:last-child {
    @include trailing-border(1px, 0, $base-font-size, solid);
}

header nav > ul ul li {
    height: 0;
    overflow: hidden;
    border: 0;
}

header nav > ul ul:hover > li {
    height: auto;
    border-color: $light;
    @include leading-border(1px, 0, $base-font-size, solid);
}

/* Second level items */
header nav > ul > li > ul > li a {
    padding-left: rhythm();
}

/* Third level items */
header nav > ul > li > ul > li > ul > li a {
    padding-left: rhythm(2);
}

nav.pagination {
    margin-bottom: rhythm();
    font-size: $base-font-size;
    line-height: 1.5 * $base-line-height;
}

.pagination input {
    text-align: center;
}

.pagination {
    border-color: $light;
    @include trailing-border(1px, 1, $base-font-size, solid);
}

.resource-list + .pagination {
    border-color: transparent;
}

.pagination form {
    min-width: rhythm(3);
}

.pagination form,
.pagination .button,
.pagination button,
.pagination .page-count {
    display: inline-block;
    vertical-align: top;
    height: 1.5 * $base-line-height;
}

.pagination .button {
    border: 1px solid $light;
    background-color: $light;
    width: rhythm(1.5);
    text-align: center;
    padding: rhythm(.25);
    border-radius: 2px;
    color: $gray;
    line-height: $base-line-height;

    &:hover {
        background-color: $bold;
    }
}

.pagination .inactive.button {
    opacity: .5;
    background-color: white;

    &:hover {
        background-color: white;
    }
}

.pagination form,
.pagination .last {
    margin-right: rhythm(.25);
}

.pagination input {
    width: rhythm(2);
}

/* @end */

/* @group ----- Header ----- */

header {
    background-color: #fff;
    margin-top: 0;
    border-color: $light;
    padding-top: rhythm(.5);
    @include trailing-border(1px, .5, $base-font-size, solid);

    & > * {
        @include container;
        padding: 0 gutter();
        display: block;
    }
}

.site-title:hover,
.site-title:active {
    border-bottom: 0;
}

.site-title h1 {
    margin: 0;
}

/* @end */

/* @group ----- Page ----- */

#content {
    @include container;
    padding: 0 gutter();
}

.page .resource.item {
    width: 50%;
    margin: rhythm() auto;
    text-align: center;
    border-color: $light;
    @include horizontal-borders(1px, 1, $base-font-size, solid);

    img {
        display: block;
        margin: rhythm(.5) auto;
    }

    .caption {
        font-size: .75 * $base-font-size;
        line-height: $base-line-height;
    }
}

/* @end */

/* @group ----- Resource List ----- */

ul.resource-list {
    list-style-type: none;
    padding-left: 0;
}

ul.resource-list .resource {
    border-color: $light;
    @include trailing-border(1px, 1, $base-font-size, solid);
    margin: rhythm() 0;
    overflow: hidden;
    position: relative;

    & > *:last-child {
        margin-bottom: 0;
    }
}

ul.resource-list .resource img {
    height: rhythm(2);
    width: auto;
    float: right;
    margin-left: rhythm(.5);
}

ul.resource-list .resource h4 {
    margin-top: 0;
}

ul.resource-list .resource .description {
    max-height: rhythm(3);
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: rhythm(1.25);
        background: linear-gradient(to top, rgba(248,248,248,1), rgba(248,248,248,0));
    }
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{rhythm(2.5)});
}

/* @end */

/* @group ----- Browse ---- */

.search-filters {
    margin-bottom: rhythm();
}

.filter-label,
.filter-value {
    display: inline-block;
    border-color: $light;
    @include rhythm-borders(1px, .25, $base-font-size, solid);
}

.filter-label {
    background-color: $light;
}

.filter-value {
    margin-left: -5px;
}

/* @end */

/* @group ----- Show ----- */

.property {
    margin-bottom: rhythm();
}

.property h4 {
    margin-bottom: 0;
    font-size: .75 * $base-font-size;
}

.property .value img {
    width: auto;
    height: rhythm(1.5);
    display: inline-block;
    vertical-align: middle;
    margin-right: rhythm(.25);
}

.property .value a {
    display: inline-block;
    vertical-align: middle;
}

.property .value:not(:last-child) img {
    margin-bottom: rhythm(.25);
}

.property .value:not(:last-child) img + a {
    margin-bottom: rhythm(.25);
}

.media.resource {
    display: inline-block;
    text-align: center;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    vertical-align: top;
    word-break: break-word;
}

.media.resource img {
    max-width: none;
}

.media-title {
    font-size: .75 * $base-font-size;
    display: inline-block;
    margin-bottom: rhythm(.5, .75 * $base-font-size);
}

/* @end */