* {
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg;
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    word-wrap: break-word;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:active,
a:hover {
    color: $bold;
}

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h4 {
    font-size: 1.125 * $base-font-size;
}

img {
    max-width: 100%;
    height: auto;
}

/* @group ----- Forms ----- */

input,
textarea,
button {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
    @include appearance(none);
    @include border-radius(0px);
    height: rhythm(1.5);
    border-color: rgba(0,0,0,.15);
    @include rhythm-borders(1px, 0, $base-font-size, solid);
    padding: rhythm(.25) gutter();
    margin: 0;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

/* @end */

/* @group ----- Navigation ----- */

header nav {
    position: relative;
    margin: rhythm(.5) 0 rhythm(-.5);
}

header nav.closed ul {
    height: 0;
    overflow: hidden;
    margin: 0;
}

header nav:before {
    font-family: "FontAwesome";
    content: "\f0c9";
    display: block;
    width: rhythm(1.25);
    height: rhythm(1.25);
    border: 1px solid $light;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    right: gutter();
    top: rhythm(-2.25);
    cursor: pointer;
    line-height: 1.25 * $base-line-height;
}

header nav.open:before {
    content: "\f00d";
}

header nav ul {
    padding-left: 0;
    list-style: none;
    position: relative;
    margin: 0 auto;

    a {
        display: inline-block;
        width: 100%;
        padding: rhythm(.25);
    }

    a:hover {
        border-bottom: 0;
        background-color: $light;
    }

    li {
        border-color: $light;
        @include leading-border(1px, 0, $base-font-size, solid);
        position: relative;
    }

    li li:last-of-type {
        padding-bottom: 0;
    }

    li.active {
        font-weight: bold;
    }

    li > ul:before {
        font-family: "FontAwesome";
        content: "\f105";
        position: absolute;
        right: 0;
        top: rhythm(-1.5);
        color: $light;
        width: rhythm();
        height: rhythm(1.5);
        line-height: 1.5 * $base-line-height;
        text-align: center;
    }

    li > ul:hover:before {
        content: "\f107";
    }

    a:hover ~ ul:before {
        color: $gray;
    }
}

header nav > ul > li:last-child {
    @include trailing-border(1px, 0, $base-font-size, solid);
}

header nav > ul ul li {
    height: 0;
    overflow: hidden;
    border: 0;
}

header nav > ul ul:hover > li {
    height: auto;
    border-color: $light;
    @include leading-border(1px, 0, $base-font-size, solid);
}

/* Second level items */
header nav > ul > li > ul > li.active > a {
    margin-left: -1.5em;
}

header nav > ul > li > ul > li.active > a:before {
    content: ">";
    display: inline-block;
    width: 1.5em;
}

header nav > ul > li > ul > li a {
    padding-left: rhythm();
}

/* Third level items */
header nav > ul > li > ul > li > ul > li a {
    padding-left: rhythm(2);
}

.sub-menu ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: rhythm(-.5);
}

.sub-menu li {
    border-color: $light;
    font-size: .75 * $base-font-size;
    font-weight: bold;
    @include trailing-border(1px, .25, .75 * $base-font-size, solid);
    padding-top: rhythm(.25, .75 * $base-font-size);

    &:first-of-type {
        @include leading-border(1px, .25, .75 * $base-font-size, solid);
    }
}

nav.pagination {
    margin-bottom: rhythm();
    font-size: $base-font-size;
    line-height: 1.5 * $base-line-height;
}

.pagination input {
    text-align: center;
}

.resource-list + .pagination {
    border-color: transparent;
}

.pagination form {
    min-width: rhythm(3);
}

.pagination form,
.pagination .button,
.pagination button,
.pagination .page-count {
    display: inline-block;
    vertical-align: top;
    height: 1.5 * $base-line-height;
}

.pagination .button {
    border: 1px solid $light;
    background-color: $light;
    width: rhythm(1.5);
    text-align: center;
    padding: rhythm(.25);
    border-radius: 2px;
    color: $gray;
    line-height: $base-line-height;

    &:hover {
        background-color: $bold;
    }
}

.pagination .inactive.button {
    opacity: .5;
    background-color: white;

    &:hover {
        background-color: white;
    }
}

.pagination form,
.pagination .last {
    margin-right: rhythm(.25);
}

.pagination input {
    width: rhythm(2);
}

.breadcrumbs {
    font-size: .75 * $base-font-size;
    margin: rhythm(1, .75 * $base-font-size) 0 rhythm(-.5, .75 * $base-font-size);
}

/* @end */

/* @group ----- Header ----- */

header {
    background-color: #fff;
    margin-top: 0;
    border-color: $light;
    padding-top: rhythm(.5);
    @include trailing-border(1px, .5, $base-font-size, solid);

    & > * {
        @include container;
        padding: 0 gutter();
        display: block;
    }
}

.site-title:hover,
.site-title:active {
    border-bottom: 0;
}

.site-title h1 {
    margin: 0;
}

/* @end */

/* @group ----- Page and Blocks ----- */

#content {
    @include container;
    padding: 0 gutter() rhythm();
}

.item-showcase {
    margin: rhythm() 0;
    border-color: $light;
    @include leading-border(1px, 1, $base-font-size, solid);
    @include trailing-border(1px, 0, $base-font-size, solid);
    overflow: hidden;
    text-align: center;
    clear: both;
}

.item.resource .caption {
    font-size: .75 * $base-font-size;
    line-height: $base-line-height;

    * {
        margin: 0 0 rhythm(1, .75 * $base-font-size) 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.item-showcase .resource.item {
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
        margin-bottom: rhythm();
    }

    img {
        margin-right: rhythm(.5);
    }

    &:only-child img {
        margin: 0 auto;
    }

    &:not(:only-child) {
        width: 25%;
        clear: none;
        padding: 0 gutter();
    }

    &:not(:only-child) h3 {
        clear: left;
        font-size: .75 * $base-font-size;
        line-height: $base-line-height;
        margin: rhythm(.5, .75 * $base-font-size) 0 0;
    }

    &:not(:only-child) img {
        max-height: rhythm(7);
        width: auto;
        float: none;
        margin-right: 0;
        vertical-align: top;
    }
}

.right,
.left {
    overflow: hidden;
}

.left .item.resource,
.right .item.resource {
    border-color: $light;
    margin: 0 0 rhythm() 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    max-width: 40vw;

    &:first-of-type {
        @include leading-border(1px, 1, $base-font-size, solid);
        margin-top: 0;
    }

    &:last-of-type {
        @include trailing-border(1px, 1, $base-font-size, solid);
    }

    media-render > *, img {
        max-width: 40vw;
    }
}

.left:not(.file) .item.resource,
.right:not(.file) .item.resource {
    max-width: 50%;
}

/* IE/Edge min-content alternative */
.file {
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.left.file,
.right.file {
    max-width: 50%;
}

.left.file {
    float: left;
    clear: left;
}

.right.file {
    float: right;
    clear: right;
}

.left .item.resource {
    float: left;
    margin-right: rhythm();
    clear: left;
}

.right .item.resource {
    float: right;
    margin-left: rhythm();
    clear: right;
}

.left .item.resource > a:first-child,
.right .item.resource > a:first-child {
    vertical-align: top;
}

.medium .item.resource > h3,
.square .item.resource > h3 {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.left .item.resource > h3,
.right .item.resource > h3 {
    margin: 0;
}

.left .item.resource + p,
.right .item.resource + p {
    margin-top: 0;
}

.break {
    width: 100%;
    clear: both;
    @include trailing-border(1px, 0, $base-font-size, solid);
    margin: rhythm() 0;

    &.transparent {
        border-color: transparent;
    }

    &.opaque {
        border-color: $light;
    }
}

.preview-block {
    margin: rhythm() 0;
    overflow: hidden;
}

.resource-list.preview + a {
    background-color: $light;
    text-align: center;
    padding: rhythm(.25);
    border-radius: 2px;
    color: $gray;
    line-height: $base-line-height;
    display: inline-block;
    font-weight: bold;

    &:hover {
        background-color: $bold;
        border-bottom-width: 0px;
    }
}

.toc-block > ul {
    margin: rhythm(1, .75 * $base-font-size) 0;
    list-style-type: none;
    border-left: 5px solid $gray;
}

.toc-block > ul > li {
    margin-bottom: rhythm(.5);
}

.toc-block > ul > li > a {
    font-weight: bold;
}

.toc-block ul ul {
    list-style-type: none;
    padding-left: 0;
}

.toc-block ul ul ul {
    padding-left: 1.25em;
}

.toc-block ul ul li:before {
    content: "\2014";
    color: $light;
}

.site-page-pagination {
    clear: both;
}

/* @end */

/* @group ----- Resource List ----- */

ul.resource-list {
    list-style-type: none;
    padding-left: 0;
}

ul.resource-list .resource {
    border-color: $light;
    @include trailing-border(1px, 1, $base-font-size, solid);
    margin: rhythm() 0;
    overflow: hidden;
    position: relative;

    & > *:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        @include leading-border(1px, 1, $base-font-size, solid);
    }
}

ul.resource-list .resource img {
    height: auto;
    width: rhythm(2);
    float: right;
    margin-left: rhythm(.5);
}

ul.resource-list .resource h4 {
    margin-top: 0;
}

ul.resource-list .resource .description {
    max-height: rhythm(3);
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: rhythm(1.75);
        left: 0;
        right: 0;
        height: rhythm(1.25);
        background: linear-gradient(to top, rgba(248,248,248,1), rgba(248,248,248,0));
    }
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{rhythm(2.5)});
}

/* @end */

/* @group ----- Browse ---- */

.search-filters {
    margin-bottom: rhythm();
}

.filter-label,
.filter-value {
    display: inline-block;
    border-color: $light;
    @include rhythm-borders(1px, .25, $base-font-size, solid);
}

.filter-label {
    background-color: $light;
}

.filter-value {
    margin-left: -5px;
}

/* @end */

/* @group ----- Show ----- */

body.resource #content > h2:first-of-type + h3 {
    font-size: .75 * $base-font-size;
    text-transform: uppercase;
    margin: rhythm(-1, .75 * $base-font-size) 0 rhythm(1, .75 * $base-font-size);
}

.property {
    margin-bottom: rhythm();
}

.property h4 {
    margin-bottom: 0;
    font-size: .75 * $base-font-size;
}

.property .value img {
    width: auto;
    height: rhythm(1.5);
    display: inline-block;
    vertical-align: middle;
    margin-right: rhythm(.25);
}

.property .value a {
    display: inline-block;
    vertical-align: middle;
}

.property .value:not(:last-child) img {
    margin-bottom: rhythm(.25);
}

.property .value:not(:last-child) img + a {
    margin-bottom: rhythm(.25);
}

#content .media.resource {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin-right: rhythm(.25);

    &:hover {
        border-bottom: 0;
    }
}

#content .media.resource img {
    vertical-align: top;
    margin-bottom: rhythm(.5);
}

.media-render > * {
    max-width: 100%;
}

/* @end */
