/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "compass/css3";
@import "compass/typography";
@import "susy";
@import "base";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    border-left: 50px solid $light;
    border-right: 50px solid transparent;
    min-height: 100%;
    padding: rhythm(.5) span(1 of 16);
    margin: 0;
}

a:link {
    text-decoration: none;
    color: $gray;
}

a:visited {
    color: $light;
}

a:active,
a:hover {
    color: $bold;
}

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h4 {
    font-size: 1.125 * $base-font-size;
}

img {
    max-width: 100%;
    height: auto;
}

/* @group ----- Forms ----- */

nav.pagination {
    margin-bottom: rhythm();
}

input,
textarea,
button {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
    @include appearance(none);
    @include border-radius(0px);
    height: rhythm(1.5);
    border-color: rgba(0,0,0,.15);
    @include rhythm-borders(1px, 0, $base-font-size, solid);
    padding: rhythm(.25) gutter();
    margin: 0;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

/* @end */

/* @group ----- Navigation ----- */

ul.navigation {
    padding-left: 0;
    list-style: none;
    border-color: $gray;
    @include trailing-border(1px, 0, $base-font-size, solid);
    position: relative;

    & > li {
        @include padding-trailer(.5);
        display: inline-block;
    }

    & > li:not(:last-child) {
        margin-right: rhythm(.5);
    }

    & > li > ul {
        position: absolute;
        top: 100%;
        left: -9999px;
        background-color: #fff;
        padding: 0;
        list-style: none;
        width: 100%;
        border-color: $gray;
        @include leading-border(1px, .5, $base-font-size, solid);
        @include trailing-border(1px, .25, $base-font-size, solid);
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }

    & > li:hover > ul {
        left: 0;
    }

    & > li > ul > li {
        border-color: $light;
        @include trailing-border(1px, .25, $base-font-size, solid);
        @include trailer(.25);
        width: 25%;
        font-size: .75 * $base-font-size;
        font-weight: bold;
    }

    & > li > ul > li ul {
        font-weight: normal;
        padding: 0;
        list-style-type: none;
    }
}

.pagination input {
    text-align: center;
}

.pagination {
    border-color: $light;
    @include trailing-border(1px, 1, $base-font-size, solid);
}

.resource-list + .pagination {
    border-color: transparent;
}

.pagination form {
    min-width: rhythm(3);
}

.pagination form,
.pagination .button,
.pagination button,
.pagination .row-count {
    display: inline-block;
}

.pagination .button {
    border: 1px solid $light;
    background-color: $light;
    width: rhythm(1.5);
    text-align: center;
    padding: rhythm(.25);
    border-radius: 2px;
    color: $gray;

    &:hover {
        background-color: $bold;
    }
}

.pagination .inactive.button {
    opacity: .5;
    background-color: white;

    &:hover {
        background-color: white;
    }
}

.pagination form,
.pagination .last {
    margin-right: rhythm(.25);
}

.pagination input {
    width: rhythm(2);
}

/* @end */

/* @group ----- Page ----- */

.page .resource.item {
    width: 50%;
    margin: rhythm() auto;
    text-align: center;
    border-color: $light;
    @include horizontal-borders(1px, 1, $base-font-size, solid);

    img {
        display: block;
        margin: rhythm(.5) auto;
    }

    .caption {
        font-size: .75 * $base-font-size;
        line-height: $base-line-height;
    }
}

/* @end */

/* @group ----- Show ----- */

.property {
    margin-bottom: rhythm();
}

.property h4 {
    margin-bottom: 0;
    font-size: .75 * $base-font-size;
}

.property .value img {
    width: auto;
    height: rhythm(1.5);
    display: inline-block;
    vertical-align: middle;
    margin-right: rhythm(.25);
}

.property .value a {
    display: inline-block;
}

.property .value:not(:last-child) * {
    margin-bottom: rhythm(.25);
    vertical-align: middle;
}

.media.resource {
    display: inline-block;
    text-align: center;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    vertical-align: top;
}

.media.resource img {
    max-width: none;
}

.media-title {
    font-size: .75 * $base-font-size;
    display: inline-block;
    margin-bottom: rhythm(.5, .75 * $base-font-size);
}

/* @end */

/* @group ----- Browse ----- */

.browse ul.resource-list {
    list-style-type: none;
    padding-left: 0;
}

.browse .resource {
    border-color: $light;
    @include trailing-border(1px, 1, $base-font-size, solid);
    margin-bottom: rhythm();
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: rhythm();
        left: 0;
        height: rhythm(1.25);
        background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    }
}

.browse .resource img {
    height: rhythm(5);
    width: auto;
    float: right;
    margin-left: rhythm(.5);
}

.browse .resource h4 {
    margin-top: 0;
}

.browse .resource .description {
    max-height: rhythm(3);
    overflow: hidden;
}

.browse .resource:after,
.browse .resource h4,
.browse .resource .description {
    width: calc(100% - #{rhythm(5.5)});
}

/* @end */