.column-select-group {
    display: flex;
    margin-bottom: 0;
}

button.columns-column-add-button {
      margin-left: .5rem;
}

ul.columns-columns {
    padding-left: 0;
    list-style: none;
}

li.columns-column {
    display: flex;
    align-items: center;
    line-height: 1.5;
}

