@charset "UTF-8";
.jstree-container-ul,
.jstree-container-ul ul {
  list-style-type: none;
}

.jstree-children {
  padding-left: 36px;
}

.jstree-container-ul,
.jstree-container-ul > li {
  padding-left: 0;
}

.jstree-node {
  position: relative;
}

.jstree-anchor {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.375em;
  position: relative;
  margin-bottom: 0.375em;
  display: block;
}

.jstree-hovered {
  background-color: rgba(0, 0, 0, 0.04);
}

.jstree-clicked {
  background-color: rgba(0, 0, 0, 0.16);
}

i.jstree-icon {
  font-style: normal;
  position: absolute;
  right: 0;
  top: 0;
}

.jstree-icon:before {
  font-family: "FontAwesome";
}

.jstree-open,
.jstree-closed {
  position: relative;
}

.jstree-open > .jstree-ocl,
.jstree-closed > .jstree-ocl,
.jstree-remove {
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: rgba(0, 0, 0, 0.24);
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

i.jstree-icon.jstree-ok,
i.jstree-icon.jstree-er {
  left: 100%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: rgba(0, 0, 0, 0.16);
  text-align: center;
}

.jstree-remove {
  background-color: transparent;
  color: gray;
  display: none;
}

.jstree-open > .jstree-anchor .jstree-remove,
.jstree-closed > .jstree-anchor .jstree-remove {
  right: 36px;
}

.jstree-anchor:hover > .jstree-remove {
  display: block;
}

.jstree-open > .jstree-ocl:before {
  content: "";
}

.jstree-closed > .jstree-ocl:before {
  content: "";
}

.jstree-ok:before {
  content: "";
}

.jstree-er:before {
  content: "";
}

.jstree-remove:before {
  content: "";
}

#jstree-marker {
  position: absolute;
  top: 0;
  left: 0;
  margin: -5px 0 0 0;
  padding: 0;
  border-right: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

#jstree-dnd {
  z-index: 1;
  padding: 0.375em 0.75em;
  background-color: rgba(0, 0, 0, 0.08);
  line-height: 24px;
}
