/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 16, sass/screen.scss */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 25, sass/screen.scss */
body {
  border-left: 50px solid #dedede;
  border-right: 50px solid transparent;
  min-height: 100%;
  padding: 0.75em 5.06329%;
  margin: 0;
}

/* line 33, sass/screen.scss */
a:link {
  text-decoration: none;
  color: #ababab;
}

/* line 38, sass/screen.scss */
a:visited {
  color: #dedede;
}

/* line 42, sass/screen.scss */
a:active,
a:hover {
  color: #787878;
}

/* line 47, sass/screen.scss */
h1 {
  font-size: 40px;
  line-height: 60px;
}

/* line 52, sass/screen.scss */
h2 {
  font-size: 35px;
  line-height: 60px;
}

/* line 57, sass/screen.scss */
h3 {
  font-size: 30px;
  line-height: 60px;
}

/* line 62, sass/screen.scss */
h4 {
  font-size: 25px;
}

/* line 66, sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* @group ----- Navigation ----- */
/* line 73, sass/screen.scss */
ul.navigation {
  padding-left: 0;
  list-style: none;
  border-color: #ababab;
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  padding-bottom: -0.05em;
  position: relative;
}
/* line 80, sass/screen.scss */
ul.navigation > li {
  padding-bottom: 0.75em;
  display: inline-block;
}
/* line 85, sass/screen.scss */
ul.navigation > li:not(:last-child) {
  margin-right: 0.75em;
}
/* line 89, sass/screen.scss */
ul.navigation > li > ul {
  position: absolute;
  top: 100%;
  left: -9999px;
  background-color: #fff;
  padding: 0;
  list-style: none;
  width: 100%;
  border-color: #ababab;
  border-top-width: 0.05em;
  border-top-style: solid;
  padding-top: 0.7em;
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  padding-bottom: 0.325em;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
/* line 105, sass/screen.scss */
ul.navigation > li:hover > ul {
  left: 0;
}
/* line 109, sass/screen.scss */
ul.navigation > li > ul > li {
  border-color: #dedede;
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  padding-bottom: 0.325em;
  margin-bottom: 0.375em;
  width: 25%;
  font-size: 15px;
  font-weight: bold;
}
/* line 118, sass/screen.scss */
ul.navigation > li > ul > li ul {
  font-weight: normal;
  padding: 0;
  list-style-type: none;
}

/* @end */
