/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  border-left: 50px solid #dedede;
  border-right: 50px solid transparent;
  min-height: 100%;
  padding: 0.75em 5.06329%;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #ababab;
}

a:visited {
  color: #dedede;
}

a:active,
a:hover {
  color: #787878;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 30px;
  line-height: 45px;
}

h3 {
  font-size: 25px;
  line-height: 45px;
}

h4 {
  font-size: 22.5px;
}

img {
  max-width: 100%;
  height: auto;
}

/* @group ----- Navigation ----- */
ul.navigation {
  padding-left: 0;
  list-style: none;
  border-color: #ababab;
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  padding-bottom: -0.05em;
  position: relative;
}
ul.navigation > li {
  padding-bottom: 0.75em;
  display: inline-block;
}
ul.navigation > li:not(:last-child) {
  margin-right: 0.75em;
}
ul.navigation > li > ul {
  position: absolute;
  top: 100%;
  left: -9999px;
  background-color: #fff;
  padding: 0;
  list-style: none;
  width: 100%;
  border-color: #ababab;
  border-top-width: 0.05em;
  border-top-style: solid;
  padding-top: 0.7em;
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  padding-bottom: 0.325em;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
ul.navigation > li:hover > ul {
  left: 0;
}
ul.navigation > li > ul > li {
  border-color: #dedede;
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  padding-bottom: 0.325em;
  margin-bottom: 0.375em;
  width: 25%;
  font-size: 15px;
  font-weight: bold;
}
ul.navigation > li > ul > li ul {
  font-weight: normal;
  padding: 0;
  list-style-type: none;
}

/* @end */
/* @group ----- Page ----- */
.resource.item {
  width: 50%;
  margin: 1.5em auto;
  text-align: center;
  border-color: #dedede;
  border-top-width: 0.05em;
  border-top-style: solid;
  padding-top: 1.45em;
  border-bottom-width: 0.05em;
  border-bottom-style: solid;
  padding-bottom: 1.45em;
}
.resource.item img {
  display: block;
  margin: 0.75em auto;
}
.resource.item .caption {
  font-size: 15px;
  line-height: 30px;
}

/* @end */
/* @group ----- Show ----- */
.property {
  margin-bottom: 1.5em;
}

.property h4 {
  margin-bottom: 0;
  font-size: 15px;
}

.media.resource {
  display: inline-block;
  text-align: center;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
  vertical-align: top;
}

.media.resource img {
  max-width: none;
}

.media-title {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 1em;
}

/* @end */
