@media screen {
  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #f8f8f8;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    word-wrap: break-word;
  }

  a:link {
    text-decoration: none;
    color: #000;
  }

  a:visited {
    color: #000;
  }

  a:active,
  a:hover {
    color: #787878;
  }

  h1 {
    font-size: 40px;
    line-height: 60px;
  }

  h2 {
    font-size: 30px;
    line-height: 45px;
  }

  h3 {
    font-size: 25px;
    line-height: 45px;
  }

  h4 {
    font-size: 22.5px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* @group ----- Forms ----- */
  input,
  textarea,
  button {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    vertical-align: top;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 2.25em;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0.05em;
    border-style: solid;
    padding: -0.05em;
    padding: 0.375em 1.69492%;
    margin: 0;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
  }

  :-ms-input-placeholder {
    font-style: italic;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  header nav {
    position: relative;
    margin: 0.75em 0 -0.75em;
  }

  header nav.closed ul {
    height: 0;
    overflow: hidden;
    margin: 0;
  }

  header nav:before {
    font-family: "FontAwesome";
    content: "\f0c9";
    display: block;
    width: 1.875em;
    height: 1.875em;
    border: 1px solid #dedede;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    right: 1.69492%;
    top: -3.375em;
    cursor: pointer;
    line-height: 37.5px;
  }

  header nav.open:before {
    content: "\f00d";
  }

  header nav ul {
    padding-left: 0;
    list-style: none;
    position: relative;
    margin: 0 auto;
  }
  header nav ul a {
    display: inline-block;
    width: 100%;
    padding: 0.375em;
  }
  header nav ul a:hover {
    border-bottom: 0;
    background-color: #dedede;
  }
  header nav ul li {
    border-color: #dedede;
    border-top-width: 0.05em;
    border-top-style: solid;
    padding-top: -0.05em;
    position: relative;
  }
  header nav ul li li:last-of-type {
    padding-bottom: 0;
  }
  header nav ul li.active {
    font-weight: bold;
  }
  header nav ul li > ul:before {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    right: 0;
    top: -2.25em;
    color: #dedede;
    width: 1.5em;
    height: 2.25em;
    line-height: 45px;
    text-align: center;
  }
  header nav ul li > ul:hover:before {
    content: "\f107";
  }
  header nav ul a:hover ~ ul:before {
    color: #ababab;
  }

  header nav > ul > li:last-child {
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: -0.05em;
  }

  header nav > ul ul li {
    height: 0;
    overflow: hidden;
    border: 0;
  }

  header nav > ul ul:hover > li {
    height: auto;
    border-color: #dedede;
    border-top-width: 0.05em;
    border-top-style: solid;
    padding-top: -0.05em;
  }

  /* Second level items */
  header nav > ul > li > ul > li.active > a {
    margin-left: -1.5em;
  }

  header nav > ul > li > ul > li.active > a:before {
    content: ">";
    display: inline-block;
    width: 1.5em;
  }

  header nav > ul > li > ul > li a {
    padding-left: 1.5em;
  }

  /* Third level items */
  header nav > ul > li > ul > li > ul > li a {
    padding-left: 3em;
  }

  .sub-menu ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: -0.75em;
  }

  .sub-menu li {
    border-color: #dedede;
    font-size: 15px;
    font-weight: bold;
    border-bottom-width: 0.06667em;
    border-bottom-style: solid;
    padding-bottom: 0.43333em;
    padding-top: 0.5em;
  }
  .sub-menu li:first-of-type {
    border-top-width: 0.06667em;
    border-top-style: solid;
    padding-top: 0.43333em;
  }

  nav.pagination {
    margin-bottom: 1.5em;
    font-size: 20px;
    line-height: 45px;
  }

  .pagination input {
    text-align: center;
  }

  .resource-list + .pagination {
    border-color: transparent;
  }

  .pagination form {
    min-width: 4.5em;
  }

  .pagination form,
  .pagination .button,
  .pagination button,
  .pagination .page-count {
    display: inline-block;
    vertical-align: top;
    height: 45px;
  }

  .pagination .button {
    border: 1px solid #dedede;
    background-color: #dedede;
    width: 2.25em;
    text-align: center;
    padding: 0.375em;
    border-radius: 2px;
    color: #ababab;
    line-height: 30px;
  }
  .pagination .button:hover {
    background-color: #787878;
  }

  .pagination .inactive.button {
    opacity: .5;
    background-color: white;
  }
  .pagination .inactive.button:hover {
    background-color: white;
  }

  .pagination form,
  .pagination .last {
    margin-right: 0.375em;
  }

  .pagination input {
    width: 3em;
  }

  .breadcrumbs {
    font-size: 15px;
    margin: 2em 0 -1em;
  }

  /* @end */
  /* @group ----- Header ----- */
  header {
    background-color: #fff;
    margin-top: 0;
    border-color: #dedede;
    padding-top: 0.75em;
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: 0.7em;
  }
  header > * {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.69492%;
    display: block;
  }
  header > *:after {
    content: " ";
    display: block;
    clear: both;
  }

  .site-title:hover,
  .site-title:active {
    border-bottom: 0;
  }

  .site-title h1 {
    margin: 0;
  }

  /* @end */
  /* @group ----- Page and Blocks ----- */
  #content {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.69492% 1.5em;
  }
  #content:after {
    content: " ";
    display: block;
    clear: both;
  }

  .item-showcase {
    margin: 1.5em 0;
    border-color: #dedede;
    border-top-width: 0.05em;
    border-top-style: solid;
    padding-top: 1.45em;
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: -0.05em;
    overflow: hidden;
    text-align: center;
    clear: both;
  }

  .item.resource .caption {
    font-size: 15px;
    line-height: 30px;
  }
  .item.resource .caption * {
    margin: 0 0 2em 0;
  }
  .item.resource .caption > *:last-child {
    margin-bottom: 0;
  }

  .item-showcase .resource.item {
    display: inline-block;
    vertical-align: top;
  }
  .item-showcase .resource.item:not(:last-child) {
    margin-bottom: 1.5em;
  }
  .item-showcase .resource.item img {
    margin-right: 0.75em;
  }
  .item-showcase .resource.item:only-child img {
    margin: 0 auto;
  }
  .item-showcase .resource.item:not(:only-child) {
    width: 25%;
    clear: none;
    padding: 0 1.69492%;
  }
  .item-showcase .resource.item:not(:only-child) h3 {
    clear: left;
    font-size: 15px;
    line-height: 30px;
    margin: 1em 0 0;
  }
  .item-showcase .resource.item:not(:only-child) img {
    max-height: 10.5em;
    width: auto;
    float: none;
    margin-right: 0;
    vertical-align: top;
  }

  .right,
  .left {
    overflow: hidden;
  }

  .left .item.resource,
  .right .item.resource {
    border-color: #dedede;
    margin: 0 0 1.5em 0;
    display: table;
  }
  .left .item.resource:first-of-type,
  .right .item.resource:first-of-type {
    border-top-width: 0.05em;
    border-top-style: solid;
    padding-top: 1.45em;
    margin-top: 0;
  }
  .left .item.resource:last-of-type,
  .right .item.resource:last-of-type {
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: 1.45em;
  }
  .left .item.resource img,
  .right .item.resource img {
    max-width: 100%;
  }
  .left .item.resource > a:first-child ~ *,
  .right .item.resource > a:first-child ~ * {
    display: table-caption;
    caption-side: bottom;
  }

  .left:not(.file) .item.resource,
  .right:not(.file) .item.resource {
    max-width: 50%;
  }

  .left.file,
  .right.file {
    max-width: 50%;
  }

  .left.file {
    float: left;
    clear: left;
  }

  .right.file {
    float: right;
    clear: right;
  }

  .left .item.resource {
    float: left;
    margin-right: 1.5em;
    clear: left;
  }

  .right .item.resource {
    float: right;
    margin-left: 1.5em;
    clear: right;
  }

  .left .item.resource > a:first-child,
  .right .item.resource > a:first-child {
    vertical-align: top;
  }

  .medium .item.resource > h3,
  .square .item.resource > h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .left .item.resource > h3,
  .right .item.resource > h3 {
    margin: 0;
  }

  .left .item.resource + p,
  .right .item.resource + p {
    margin-top: 0;
  }

  .break {
    width: 100%;
    clear: both;
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: -0.05em;
    margin: 1.5em 0;
  }
  .break.transparent {
    border-color: transparent;
  }
  .break.opaque {
    border-color: #dedede;
  }

  .preview-block {
    margin: 1.5em 0;
    overflow: hidden;
  }

  .resource-list.preview + a {
    background-color: #dedede;
    text-align: center;
    padding: 0.375em;
    border-radius: 2px;
    color: #ababab;
    line-height: 30px;
    display: inline-block;
    font-weight: bold;
  }
  .resource-list.preview + a:hover {
    background-color: #787878;
    border-bottom-width: 0px;
  }

  .toc-block > ul {
    margin: 2em 0;
    list-style-type: none;
    border-left: 5px solid #ababab;
  }

  .toc-block > ul > li {
    margin-bottom: 0.75em;
  }

  .toc-block > ul > li > a {
    font-weight: bold;
  }

  .toc-block ul ul {
    list-style-type: none;
    padding-left: 0;
  }

  .toc-block ul ul ul {
    padding-left: 1.25em;
  }

  .toc-block ul ul li:before {
    content: "\2014";
    color: #dedede;
  }

  .site-page-pagination {
    clear: both;
  }

  /* @end */
  /* @group ----- Resource List ----- */
  ul.resource-list {
    list-style-type: none;
    padding-left: 0;
  }

  ul.resource-list .resource {
    border-color: #dedede;
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: 1.45em;
    margin: 1.5em 0;
    overflow: hidden;
    position: relative;
  }
  ul.resource-list .resource > *:last-child {
    margin-bottom: 0;
  }
  ul.resource-list .resource:first-child {
    border-top-width: 0.05em;
    border-top-style: solid;
    padding-top: 1.45em;
  }

  ul.resource-list .resource img {
    height: auto;
    width: 3em;
    float: right;
    margin-left: 0.75em;
  }

  ul.resource-list .resource h4 {
    margin-top: 0;
  }

  ul.resource-list .resource .description {
    max-height: 4.5em;
    overflow: hidden;
    position: relative;
  }
  ul.resource-list .resource .description:after {
    content: "";
    position: absolute;
    top: 2.625em;
    left: 0;
    right: 0;
    height: 1.875em;
    background: linear-gradient(to top, #f8f8f8, rgba(248, 248, 248, 0));
  }

  ul.resource-list .resource img ~ * {
    width: calc(100% - 3.75em);
  }

  /* @end */
  /* @group ----- Browse ---- */
  .search-filters {
    margin-bottom: 1.5em;
  }

  .filter-label,
  .filter-value {
    display: inline-block;
    border-color: #dedede;
    border-width: 0.05em;
    border-style: solid;
    padding: 0.325em;
  }

  .filter-label {
    background-color: #dedede;
  }

  .filter-value {
    margin-left: -5px;
  }

  /* @end */
  /* @group ----- Show ----- */
  body.resource #content > h2:first-of-type + h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin: -2em 0 2em;
  }

  .property {
    margin-bottom: 1.5em;
  }

  .property h4 {
    margin-bottom: 0;
    font-size: 15px;
  }

  .property .value img {
    width: auto;
    height: 2.25em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.375em;
  }

  .property .value a {
    display: inline-block;
    vertical-align: middle;
  }

  .property .value:not(:last-child) img {
    margin-bottom: 0.375em;
  }

  .property .value:not(:last-child) img + a {
    margin-bottom: 0.375em;
  }

  #content .media.resource {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin-right: 0.375em;
  }
  #content .media.resource:hover {
    border-bottom: 0;
  }

  #content .media.resource img {
    vertical-align: top;
    margin-bottom: 0.75em;
  }

  /* @end */
}
@media screen and (min-width: 800px) {
  #content {
    padding: 0 3.38983%;
  }

  /* @group ----- Header ----- */
  header {
    position: relative;
    padding: 0.75em 0 0 0;
  }

  header > * {
    padding: 0 3.38983%;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  header nav {
    margin: 0 auto;
    position: static;
  }

  header nav:before {
    content: "";
    border: 0;
  }

  header nav ul a {
    padding: 0;
  }

  header nav ul li {
    position: static;
  }

  header nav.closed ul,
  header nav ul ul li {
    height: auto;
    overflow: visible;
  }

  header nav ul a:hover {
    background-color: transparent;
  }

  header nav ul li,
  header nav > ul li:last-child,
  header nav > ul ul:hover > li {
    border: 0;
  }

  header nav ul.navigation {
    margin: 0 auto;
    position: static;
  }
  header nav ul.navigation li ul:before {
    display: none;
  }
  header nav ul.navigation > li {
    display: inline-block;
  }
  header nav ul.navigation > li:not(:last-child) {
    margin-right: 0.75em;
  }
  header nav ul.navigation > li > ul {
    position: absolute;
    top: 100%;
    left: -9999px;
    background-color: #fff;
    padding: 0;
    list-style: none;
    width: 100%;
    border-color: #ababab;
    border-top-width: 0.05em;
    border-top-style: solid;
    padding-top: 0.7em;
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: 0.325em;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    z-index: 1;
  }
  header nav ul.navigation > li:hover > ul {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75em 3.38983%;
    left: 0;
    right: 0;
    border-bottom: 0;
    border-color: #dedede;
  }
  header nav ul.navigation > li:hover > ul:after {
    content: " ";
    display: block;
    clear: both;
  }
  header nav ul.navigation > li:hover > ul:after {
    content: "";
    left: -9999px;
    right: -9999px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    border-bottom: 1px solid #dedede;
    z-index: -1;
  }
  header nav ul.navigation > li > ul > li {
    width: 25%;
    font-size: 15px;
    font-weight: bold;
  }
  header nav ul.navigation > li > ul > li ul {
    font-weight: normal;
    padding: 0;
    list-style-type: none;
    height: auto;
  }

  header nav > ul > li > a {
    margin: 0.375em;
    height: 30px;
  }

  /* All top-level nav items with siblings are parent items and get an arrow. */
  header nav > ul > li > a:not(:only-child):after {
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    margin-left: 0.375em;
  }

  header nav > ul li:hover ul li {
    height: auto;
  }

  /* Second and Third level items */
  header nav > ul > li > ul > li a,
  header nav > ul > li > ul > li > ul > li a {
    padding-left: 0;
  }

  .sub-menu ul {
    border-color: #dedede;
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: 0.7em;
  }

  .sub-menu li {
    display: inline-block;
    border: 0;
    padding: 0;
    margin-right: 1em;
  }
  .sub-menu li:first-of-type {
    border: 0;
    padding: 0;
  }

  /* @end */
  /* @group ----- Resource List ----- */
  ul.resource-list .resource img {
    width: 6em;
    height: auto;
    float: right;
    margin-left: 0.75em;
  }

  ul.resource-list .resource img ~ * {
    width: calc(100% - 6.75em);
  }

  /* @end */
  /* @group ----- Item Set ----- */
  body.item-set .metadata {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    border-left: 5px solid #dedede;
    padding-left: 1.69492%;
    clear: left;
  }

  body.item-set .metadata h4:first-of-type {
    margin-top: 0;
  }

  body.item-set .metadata ~ * {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    border-left: 1px solid #dedede;
    padding-left: 1.69492%;
  }

  body.item-set .metadata ~ h3,
  body.item-set .metadata ~ .resource-list {
    margin: 0;
    padding-bottom: 1.2em;
  }

  body.item-set .metadata ~ nav.pagination:first-of-type {
    margin-bottom: 0;
  }

  /* @end */
  /* @group ----- Page and blocks ----- */
  .preview-block {
    clear: both;
  }

  ul.preview.resource-list li:first-of-type {
    border-top-width: 0.05em;
    border-top-style: solid;
    padding-top: 1.45em;
  }

  /* @end */
}
