<?php

return array(
    'entity_manager' => array(
        'conn' => array(
            'user'        => '',
            'password'    => '',
            'dbname'      => '',
            'host'        => '',
        ),
        'table_prefix' => 'omeka_',
        'is_dev_mode'  => true,
    ),
);
