<?php
return array(
    'connection' => array(
        'user'        => '',
        'password'    => '',
        'dbname'      => '',
        'host'        => '',
    ),
    'entity_manager' => array(
        'table_prefix' => 'omeka_',
        'is_dev_mode'  => true,
    ),
);
