<?php
return array(
    'entity_manager' => array(
        'conn' => array(
            'user'        => '',
            'password'    => '',
            'dbname'      => '',
            'host'        => '',
        ),
    ),
    'loggers' => array(
        'application' => array(
            'log' => false,
        ),
        'sql' => array(
            'log' => false,
        ),
    ),
);
