// Typography

$base-font-size:        16px;
$base-line-height:      24px;

// Layout

$susy: (
    columns: 16,
    gutters: 1/2,
    math: fluid,
    output: float,
    gutter-position: inside,
    global-box-sizing: border-box
);

// Colors

$red:                 #A91919;
$delete-bg:           #FFCCCC;
$gray-on-white:       rgba(0,0,0,.04);
$border-gray:         #dfdfdf;
$copy-gray:           #676767;
$blue:                #404E61;

// Prefix settings

$graceful-usage-threshold: .5;