// Layout

$susy: (
    columns: 16,
    gutters: 1/2,
    math: fluid,
    output: float,
    gutter-position: inside,
    global-box-sizing: border-box
);

:root {
    --base-font-size: 16px;
    --base-line-height: 24px;
    --spacing-large: var(--base-line-height);
    --spacing-medium: calc(.5 * var(--spacing-large));
    --spacing-small: calc(.25 * var(--spacing-large));
    --light-red: #e11717;
    --red: #A91919;
    --delete-bg: #FFCCCC;
    --success-bg: #cdffcd;
    --gray-on-white: color-mix(in srgb, #FFFFFF, #000000, 4%);
    --border-gray: #dfdfdf;
    --copy-gray: #676767;
    --gray-on-gray: darken(--copy-gray, 10%);
    --blue: #404E61;
    --light-blue: #bdcde3;
    --dark-blue: #222933;
    --border-blue: color-mix(in srgb, var(--blue), #000000, 5%);
}