@mixin field-row {
    width: 100%;
    background-color: $gray-on-white;
    padding: $spacing-small;
    position: relative;
    margin-bottom: $spacing-small;
}

@mixin subhead-row {
    border-bottom: 1px solid $border-gray;
    padding-bottom: ($spacing-medium - 1px);
}