body {
    padding: 0;
}

header {
    width: 100%;
}

header,
#menu.active,
#current-user.active,
#search.active {
    left: 0;
    right: 0;
}

body.minimal {
    width: 100%;
    margin: 0;
    
    div[role="main"] {
        padding: rhythm() span(1 of 16);
    }
}