@import "font-awesome/variables";
@import "mixins";

/* @group ----- Generic HTML elements ----- */

* {
    @include box-sizing(border-box);
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: lighten($red, 20%);
}

a:visited {
    color: desaturate($red, 20%);
}

a:active, 
a:hover {
    color: $red;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    @include trailer(1, 2 * $base-font-size);
}

h2 {
    font-size: 1.875 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    @include trailer(1.125, 1.875 * $base-font-size);
}

h3 {
    font-size: 1.5 * $base-font-size;
    @include trailer(1, 1.5 * $base-font-size);
}

h4 {
    font-size: 1.25 * $base-font-size;
    @include trailer(1, 1.25 * $base-font-size);
}

p {
    margin: rhythm() 0;
}

ul {
    padding-left: $base-line-height;
    list-style: disc;
}

html,
body {
    height: 100%;
}

body {
    background-color: #e7e7e7;
    font-family: "Source Sans Pro", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: 0 gutter();
}

    /* @group ----- Tables ----- */
    
    table {
        width: 100%;
    }
    
    th {
        font-weight: bold;
        text-align: left;
    }
    
    th,
    td {
        padding: rhythm(.5) gutter();
        border-color: #d7d7d7;
        @include leading-border(1px, .5, $base-font-size, solid);
        vertical-align: middle;
    }
    
    thead + tbody tr:first-child {
        border-color: #d7d7d7;
    }
    
    table {
        @include trailer(.5);
    }
    
    tr {
        background-color: #f2f2f2;
    }
    
    td,
    th{
        padding: rhythm(.25) .5em;
        position: relative;
        vertical-align: top;
    }
    
    tr:last-of-type td,
    tr:last-of-type th,
     {
        @include trailing-border(1px, .25, $base-font-size, solid);
    }
    
    /* @end */
    
    /* @group ----- Form elements ----- */
    
    textarea {
        clear: both;
    }
    
    input,
    textarea,
    button {
        font-family: "Source Sans Pro", sans-serif;
        font-size: $base-font-size;
        line-height: $base-line-height;
        margin: 0;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        @include appearance(none);
        @include border-radius(0px);
        height: rhythm(1.5);
        border-color: rgba(0,0,0,.15);
        @include rhythm-borders(1px, 0, $base-font-size, solid);
        padding: rhythm(.25) gutter();
        margin: 0;
    }
    
    ::-webkit-input-placeholder {
       font-style: italic;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       font-style: italic;
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       font-style: italic;
    }
    
    :-ms-input-placeholder {  
       font-style: italic;
    }
    
    textarea {
        border-color: rgba(0,0,0,.15);
        @include rhythm-borders(1px, 0, $base-font-size, solid);
        margin: 0;
        display: block;
    }
    
    input[type="submit"],
    button,
    a.button,
    .button {
        min-height: rhythm(1.25);
        background-color: lighten($red, 20%);
        color: #fff;
        @include border-radius(3px);
        border: 0;
        padding: rhythm(.25) 10px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        margin: 0 0 rhythm(.5) 0;
        
        &:hover {
            background-color: $red;
        }
        
        &:active, &.active {
            background-color: $red; 
        }
        
        &.inactive {
            background-color: #d2d2d2;
            cursor: default;
        }
    }
    
    .field {
        @include field-row;
        
        &:first-child {
            border-color: transparent;
        }
    }

    .media-field-wrapper {
        width:100%;
        padding: rhythm(.5) rhythm(.25);
        @include trailer(.25);
        background-color: #e7e7e7;
        position: relative;

        .field {
            width:90%;
            display:inline-block;
            margin:0;
            padding:0;
        }

        .field-meta,
        .inputs {
            margin-top: rhythm(-.25);
            margin-bottom: rhythm(-.25);
        }

        .actions {
            margin-right: 4px;
        }
    }

    select {
        background-color: #fff;
        border: 1px solid #ccc;
        height: 1.5 * $base-line-height;
        line-height: 1.5 * $base-line-height;
        font-size: $base-font-size;
        margin: 0;
        @include border-radius(3px);
        vertical-align: top;
    }
    
    label input {
        margin-right: .5em;
    }
        
    fieldset {
        margin: 0 0 rhythm();
        border: 0;
        padding: 0;
    }
    
    .property-selector input[type="text"],
    .property-selector > ul {
        width: 100%;
    }
    
    .property-selector > ul {
        margin: 0;
        overflow: hidden;
    }
    
    .property-selector.sidebar .vocabulary {
        margin-bottom: 0;
    }
    
    /* @end */

/* @end */

/* @group ----- Reusable classes ----- */

div[role="main"] > .messages {
    @include trailer(.5);
    
    li {
        margin: 0 0 rhythm(.25);
    }

    .error {
        background-color: lighten($red, 45%);
    }
    
    .success {
        background-color: lighten(green, 65%);
    }
    
    .warning {
        background-color: lighten(orange, 45%);
    }
}

.messages {
    padding: 0;
    margin: 0;
    clear: both;

    li {
        background-color: rgba(255,255,255,.5);
        @include border-radius(3px);
        padding: rhythm(.25) 10px;
        @include leader(.25);
        display: block;
        width: 100%;
    }
}

.field .messages {
    width: 100%;
    color: $red;
}

.error {
    color: $red;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

table .icon-sortable {
    opacity: .4;
    font-size: .75 * $base-font-size;
    line-height: 100%;
}

.row {
    @include field-row;
}

/* @end */

/* @group ----- Header ----- */

header {
    width: span(3 of 16);
    text-align: left;
    padding: rhythm(1.5) 0 rhythm();
    float: left;
}

.skip {
    position: absolute;
    left: -9999px;
    
}

.skip:focus {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    z-index: 1002;
    text-align: center;
    background-color: #fff;
    padding: rhythm(.25);
    @include border-radius(0 0 3px 3px);
    border-color: $gray-on-white;
    @include rhythm-borders(1px, 0, $base-font-size, solid);
}

#current-user {
    display: block;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    left: 0;
    color: #E7E7E7;
    text-align: right;
    padding: rhythm(.25) gutter();
    z-index: 1000;
}

#current-user p {
    margin: 0;
    display: inline-block;
    
    &:not(:first-of-type):before {
        content: "\2022";
        display: inline-block;
        margin: 0 .5em 0 .25em;
    }
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: rhythm(.25) gutter();
}

#search {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: rhythm() 0;
}

#search input[type="text"] {
    height: rhythm(1.5);
    width: calc(100% - #{rhythm(3)});
    float: left;
}

#search button {
    width: rhythm(1.5);
    text-indent: -9999px;
    float: left;
    margin: 0;
    @include border-radius(0px);
    position: relative;
    height: rhythm(1.5);
    
    &:last-of-type {
        border-left: 1px solid rgba(255,255,255,.2);
        @include border-radius(0 3px 3px 0);
        
        &:after {
            content: $fa-var-search;
        }
    }
    
    &:after {
        content: $fa-var-ellipsis-h;
        font-family: "FontAwesome";
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5 * $base-line-height;
        line-height: 1.5 * $base-line-height;
        text-align: center;
    }
}

div[role="main"] > h1:first-of-type {
    background-color: #fff;
    width: span(13 of 16) - gutter(10);
    font-size: 1.5 * $base-font-size;
    position: fixed;
    padding: 0 30% 0 gutter();
    z-index: 2;
    top: rhythm(1.5, 1.5 * $base-font-size);
    height: rhythm(2, 1.5 * $base-font-size);
    right: 0;
    margin-bottom: 0;
    border-color: #e7e7e7;
    @include trailing-border(1px, 0, 1.5 * $base-font-size, solid);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    position: fixed;
    left: gutter();
    bottom: rhythm();
    width: span(3 of 16);
}

/* @end */

/* @group ----- Navigation ----- */

nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

nav.pagination form {
    display: inline-block;
    margin-right: 1em;
}

nav.pagination form * {
    display: inline-block;
    padding: 0;
    text-align: center;
}

nav.pagination form input[type="text"] {
    margin-right: .25em;
}

#mobile-nav {
    display: none;
}

.mobile-container {
    position: relative;
}

    /* @group ----- Top-level navigation ----- */
    
    #menu .navigation > li:not(:first-of-type) {
        @include leader(.25);
    }
    
    #menu .navigation > li:not(:last-of-type) {
        border-color: $gray-on-white;
        @include trailing-border(1px, .25, $base-font-size, solid);
    }
    
    #menu .navigation li li {
        display: none;
    }
    
    #menu .navigation li.active li {
        display: block;
        margin-left: rhythm();
    }
    
    #menu .navigation li.active {
        font-weight: bold;
        
        a:before,        
        li:not(.active) {
            font-weight: normal;
        }
    }
    
    #menu a:before {
        font-family: "FontAwesome";
        display: inline-block;
        width: rhythm();
    }
    
    #menu .resources:before {
        content: $fa-var-cubes;
    }
    
    #menu .ontology:before {
        content: $fa-var-book;
    }
    
    #menu .users:before {
        content: $fa-var-users;
    }
    
    #menu .modules:before {
        content: $fa-var-plus-square;
    }
    
    #menu .jobs:before {
        content: $fa-var-tasks;
    }

    #menu .sites:before {
        content: $fa-var-laptop;
    }
    
    #menu li li a:before {
        content: $fa-var-caret-right;
    }
    
    /* @end */

/* @end */

/* @group ----- Wrappers ----- */

div[role="main"] {
    width: span(13 of 16);
    margin-left: gutter() + span(3);
    padding: rhythm(4) gutter() rhythm();
    background-color: #fff;
    min-height: 100%;
    overflow: hidden;
    @include transition-duration(.5s);
}

/* @end */

/* @group ----- Browse views ----- */

.browse .resource-name {
    display: inline-block;
    max-width: calc(100% - 8.5em);
    vertical-align: middle;
}

.browse .add.button,
.browse .batch-edit.button {
    float: left;
    margin-right: .25em;
}

.browse td:first-child,
.browse th:first-child {
    width: 50%;
}

.browse td,
.browse th {
    padding: rhythm(.5) rhythm(.25);
}

.browse tr:last-of-type td,
.browse tr:last-of-type th,
 {
    @include trailing-border(1px, .5, $base-font-size, solid);
}

.browse img {
    width: rhythm(1.5);
    display: inline-block;
    margin: rhythm(-.25) rhythm(.25) rhythm(-.25) 0;
    vertical-align: middle;
}

.actions {
    margin: 0;
    display: block;
    float: right;
}

.actions,
.actions li {
    display: inline-block;
    margin-left: -4px;
}

.actions a,
.actions a:before,
.actions button,
.actions button:before {
    width: $base-line-height;
    height: $base-line-height;
    line-height: $base-line-height;
    vertical-align: top;
    text-align: center;
}

.actions a,
.actions button {
    opacity: .5;
}

.actions a:hover,
.actions a:active,
.actions button:hover {
    opacity: 1;
}

.actions button {
    background-color: transparent;
    color: lighten($red, 20%);
    margin: 0;
    text-indent: -9999px;
    position: relative;
    padding: 0;
    min-height: 0;
    
    &:before {
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}

th a.sortable,
th .sorted-asc,
th .sorted-desc {
    display: block;
    width: 100%;
}

th .sorted-asc,
th .sorted-desc {
    border-color: #d2d2d2;
    padding: 0 .5em;
    @include trailing-border(3px, .5, $base-font-size, solid);
    margin: 0 0 rhythm(-.5) -.375em;
    width: calc(100% + .75em);
}

th a.sortable:after,
th .sorted-asc:after,
th .sorted-desc:after,
th a.sortable:before,
th .sorted-asc:before,
th .sorted-desc:before {
    position: absolute;
    font-size: .75 * $base-font-size;
    right: .5em;
    top: rhythm(1);
    z-index: 2;
}

th a.sortable:hover:after,
th .sorted-asc:hover:after,
th .sorted-desc:hover:after {
    color: $red;
}

.sortable:after,
th a.sortable:before,
th .sorted-asc:before,
th .sorted-desc:before {
    content: $fa-var-sort;
    color: #999;
}

.sorted-asc:hover:after,
.sorted-desc:after {
    content: $fa-var-sort-desc;
}

.sortable:hover:after,
.sorted-desc:hover:after,
.sorted-asc:after {
    content: $fa-var-sort-asc;
}

th a.sortable:before,
th .sorted-asc:before,
th .sorted-desc:before {
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: rhythm(3.5);
    left: 100%;
    bottom: 0;
    background-color: #f7f7f7;
    z-index: 3;
    padding: rhythm(.5) gutter();
    border-left: 1px solid #d2d2d2;
    overflow-y: scroll;
    overflow-x: hidden;
    width: span(4 of 16) - gutter(32);
    @include transition-duration(.5s);
    
    &.active {
        left: span(12 of 16) + gutter(32);
    }
    
    .o-icon-close {
        position: absolute;
        right: gutter();
        top: rhythm(.5);
    }
            
    h4 {
        @include trailer(.25);
        background-color: transparent;
        padding: 0;
        
        + .value {
            @include leader(0);
        }
    }
    
    .vocabulary,
    .meta-group {
        @include trailer();
    }
    
    .value {
        @include trailer(.25);
        border-color: $gray-on-white;
        @include trailing-border(1px, .25, $base-font-size, solid);
        vertical-align: middle;
        
        *:last-child {
            @include trailer(0);
        }
        
        &:last-child {
            border-color: transparent;
            @include trailer();
        }

        img {
            vertical-align: middle;
            margin-right: rhythm(.25);
        }
    }

    .file-name {
        display: inline-block;
        word-break: break-word;
        max-width: calc(100% - #{rhythm(3)});
        vertical-align: middle;
    }
}

#sidebar-confirm {
    display: block;
    background-color: #ccc;
    @include bleed-x(gutter(1));
    @include bleed-y(rhythm());
    @include trailer();
    
    button {
        @include trailer(0);
    }
}

body.sidebar-open #content {
    width: span(9 of 16);
}

.no-resources {
    text-align: center;
    position: relative;
    @include leader(4);
    
    &:before {
        font-family: "FontAwesome";
        font-size: 6 * $base-font-size;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: .08;
    }
    
    p {
        font-size: 1.5 * $base-font-size;
        line-height: 2 * $base-line-height;
        @include leader(2, 1.5 * $base-font-size);
        
    }
}

.items .no-resources:before {
    content: $fa-var-cubes;
}

.modules .no-resources:before {
    content: $fa-var-plus-square;
}

.vocabs .no-resources:before {
    content: $fa-var-book;
}

/* @end */

/* @group ----- Add/Edit views ----- */

.add div[role="main"],
.import div[role="main"],
.edit div[role="main"] {
    padding-top: rhythm(4);
}

.add legend,
.edit legend {
    position: absolute;
    left: -9999px;
}

.section-nav {
    border-top: 1px solid #fff;
    height: rhythm(1.75);
    position: relative;
    @include trailer();
    clear: both;
    
    &:before {
        content: "";
        height: rhythm(.125);
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        z-index: 0;
        background: #fff;
        border: 1px solid #e7e7e7;
        border-width: 1px 0;
    }
    
    a {
        display: block;
        float: left;
        height: rhythm(1.5);
        line-height: 1.25 * $base-line-height;
        padding: rhythm(.125) 1em;
        position: relative;
        z-index: 1;
        background-color: #fff;
        border-color: #e7e7e7;
        border: 1px solid #e7e7e7;
        margin-left: .25em;
    }
    
    .active a {
        font-weight: bold;
        border-bottom-color: #fff;
    }
}

.section:not(a) {
    display: none;
}

.section.active {
    display: block;
}

#page-actions {
    width: span(13 of 16) - gutter(10);
    position: fixed;
    padding: rhythm(.25) gutter() rhythm(.25) gutter();
    z-index: 2;
    top: rhythm(1.5);
    height: rhythm(1.75);
    right: 0;
    text-align: right;
    margin-bottom: 0;

    input[type="submit"],
    button,
    .button {
        display: inline-block;
        height: rhythm(1.5);
        padding: rhythm(.25) 1em;
        min-height: 0;
        vertical-align: top;
    }
}

.add-property.button {
    @include leader();
}

.field-term {
    display: inline-block;
    font-family: "Source Code Pro";
    font-size: .75 * $base-font-size;
}

.inputs label.value-language {
    margin-right: 0;
    vertical-align: top;
    position: absolute;
    border-bottom: 2px solid $gray-on-white;
    top: rhythm(.25);
    left: rhythm(2);
    height: rhythm();
}

.inputs input[type="text"].value-language {
    position: absolute;
    top: rhythm(.25);
    left: rhythm(2.5);
    margin: 0;
    background-color: transparent; 
    border: 0;
    border-bottom: 2px solid $gray-on-white;
    width: 6em;
    min-height: 0;
    padding: 0 0 0 rhythm(.5);
    height: rhythm();
}

.non-properties {
    @include trailer(.5);
}

.visibility {
    display: inline-block;
    padding: rhythm(.25);
    margin-right: rhythm(.5);
}

.add .visibility:before,
.edit .visibility:before {
    margin-right: .25em;
}

.add .visibility [type="checkbox"],
.edit .visibility [type="checkbox"] {
    margin-left: .5em;
}

    /* @group ----- Metadata ----- */
    
    #add-item .remove.field {
        background-color: lighten($red, 30%);
        opacity: .6;
    }

    .resource.input-option span {
        display: block;
        background-color: rgba(255,255,255,.5);
        padding: rhythm(.25) 10px 0;
        width: 100%;
        float: left;
    }
    
    .field-meta {
        width: span(3 of 10);
        padding-right: rhythm(.25);
        position: relative;
        display: inline-block;
        
        label {
            display: inline-block;
            max-width: 80%;
            padding: rhythm(.25) 0;
            font-weight: bold;
        }

        .error {
            float: left;
        }
        
        ul {
            padding: 0;
            list-style-type: none;
        }
    }

    .field-label-text {
        display: block;
    }
    
    .template {
        display: none;
    }

    .property-selector .property .description .o-icon-info:hover + .field-comment {
        left: 0;
        right: 0;
        top: rhythm(1.5);
        padding: rhythm(.25) 10px;
        background-color: #fff;
        z-index: 1;
        margin: 0;
        @include box-shadow(0 0 0 1px $gray-on-white inset);

        &:before {
            content: "";
            position: absolute;
            left: 10px;
            top: rhythm(-.25);
            border-left: rhythm(.25) solid transparent;
            border-right: rhythm(.25) solid transparent;
            border-bottom: rhythm(.5) solid #fff;
        }
        
        &.above {
            bottom: 100%;
            top: auto;
            
            &:before {
                top: calc(100% - #{rhythm(.25)});
                @include transform(rotate(180deg));
            }

        }
    }
    
    .property-selector ul {
        list-style: none;
        padding-left: 0;

        .description {
            display: inline-block;
            
            .o-icon-info {
                display: inline-block;
                margin: 0 1em 0 0;
                opacity: .75;
                width: 1em;
            }
            
            .o-icon-info + .field-comment {
                position: absolute;
                top: -9999px;
                left: -9999px;
                width: 100%;
                
                &:empty {
                    padding: 0;
                }
            }
        }
    }
    
    .property-selector > ul,
    .properties > ul {
        list-style: none;
        padding-left: 0;
        
        li {
            position: relative;
    
            &:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
        
        & > li.show {
            background-color: #575757;
            color: #f9f9f9;
            @include border-radius(3px);
            
            & > ul {
                background-color: #c7c7c7;
                color: #000;
                margin: rhythm(.25) -10px rhythm(-.25);
                overflow: visible;
                @include border-radius(0px 0px 3px 3px);
            }
        }
    
        & > li {
            font-weight: bold;
            position: relative;
            @include leader(.25);
            padding: rhythm(.25) 10px;
            background-color: rgba(0,0,0,.1);
            
            &:last-of-type li:last-of-type {
                @include trailer(0);
            }
            
            & > ul > .vocabulary:after {
                content: $fa-var-caret-right;
                font-family: "FontAwesome";
                position: absolute;
                right: rhythm(.625);
                top: rhythm(.25);
            }
            
            & > ul > li {
                padding: rhythm(.25) 10px;
            }
            
            .property {
                @include border-radius(0);
                font-weight: normal;
                padding: rhythm(.25) 10px;
                margin: 0 -10px;
            }
        }

        li.vocabulary {
            cursor: pointer;
        }

        li.vocabulary.show:after {
            content: $fa-var-caret-down;
        }
        
        & > li ul,
        & > li ul ul {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        li.show > ul {
            position: relative;
            top: 0;
            left: 0;
            @include leader(.25);
            overflow: visible;
        }
    }

    .field-actions {
        width: span(6 of 10);
        display: inline-block;
        margin: rhythm() 0 0 span(3 of 10);
    }

    .field .field-label {
        font-weight: bold;
        display: inline-block;
    }

    .field .field-description {
        @include adjust-font-size-to(14px);
        line-height: .75 * $base-line-height;
        position: static;
        text-align: left;
        height: auto;
    }

    .field .field-description:not(:only-child) {
        @include trailer(.25);
    }

    .field-description {
        display: block;
        margin-right: 10px;
        line-height: 1.5 * $base-line-height;
        height: 1.5 * $base-line-height;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        left: 0;
    }
    
    .field-description .o-icon-info {
        margin: 0;
        cursor: pointer;
    }

    .field-description .field-comment.open {
        left: inherit;
        right: 0px;
        top: rhythm(1.5);
        background-color: #333;
        color: #fff;
        @include border-radius(3px);
        z-index: 1;
        max-width: 100%;
        @include adjust-font-size-to(14px, 1, $base-font-size);
        padding: rhythm(.25) 5px;
        margin: rhythm(.5) 0;
        
        &.above {
            top: auto;
            bottom: rhythm(1.25);
        }
    }

    .field-description .field-comment.open:before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        top: rhythm(-.25);
        bottom: 0;
        right: 3px;
        font-size: $base-font-size;
        border-left: rhythm(.25) solid transparent;
        border-right: rhythm(.25) solid transparent;
        border-bottom: rhythm(.5) solid #333;
    }
    
    .field-description .field-comment.open.above:before {
        top: auto;
        bottom: rhythm(-.5);
        @include transform(rotate(180deg));
    }

    .field-meta .expand,
    .field-meta .collapse {
        display: inline-block;
        margin-left: .5em;
    }

    .collapsible {
        display: none;
    }

    .collapse + .collapsible {
        display: block;
    }

    .field-description .field-comment {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .resource-values .field-term {
        font-family: "Source Code Pro";
        display: block;
        @include adjust-font-size-to(12px);
    }
    .inputs {
        width: span(7 of 10);
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-left: -4px;
        
        &:only-child {
            width: 100%;
        }

        p:only-child {
            margin: 0;
        }

        label {
            margin-right: 1em;
        }
        
        select,
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            width: 100%;
            min-height: rhythm(1.5);
            padding: rhythm(.25);
            margin: rhythm(.25) 0;
            resize: vertical;
        }
        
        select:only-child,
        textarea:only-child,
        input[type="text"]:only-child,
        input[type="password"]:only-child,
        input[type="email"]:only-child {
            margin: 0;
        }

        .button,
        button,
        input[type="submit"] {
            margin: rhythm(.25) 0;
        }
    }
    
    .value {
        @include trailer();
        position: relative;
        
        &:last-of-type {
            @include trailer(0);
            
            .remove-value {
                @include trailer(0);
            }
        }
    }

    p.no-values {
        padding: rhythm(.5);
        @include border-radius(3px);
        background-color: $gray-on-white;

        &:not(:only-child) {
            display: none;
        }
    }

    .add-values {
        @include leader(.75);
        @include trailer(-.125);
    }

    .add-values * {
        display: inline-block;
        min-width: rhythm(1.5);
        height: rhythm(1.5);
        @include border-radius(2px);
        text-align: center;
        margin: 0;
    }

    .inputs .add-values a.button {
        margin: 0 0 rhythm(.125);

        &:before {
            margin-right: .25em;
        }
    }

    .add-values label {
        background-color: $gray-on-white;
        line-height: 1.5 * $base-line-height;
        margin-right: 0;
    }

    .input-header {
        width: 100%;
        float: left;
        background-color: rgba(0,0,0,.15);
    }

    .input-header .actions a:before {
        line-height: 1.5 * $base-line-height;
        height: 1.5 * $base-line-height;
    }
    
    .value.delete {
        background-color: #ffcccc;
        overflow: hidden;
    }

    .value a.restore-value,
    .value span.restore-value,
    .value.delete a.tab {
        display: none;
    }
    
    .value.delete .input-header {
        background-color: transparent;
    }

    .value label:not(.value-language) {
        position: absolute;
        top: 0;
        left: 0;
        height: rhythm(1.5);
        width: rhythm(1.5);
        background-color: $gray-on-white;
        text-align: center;
        line-height: 1.5 * $base-line-height;
    }

    .uri.value input[type="text"] {
        margin: 0;
    }

    .resource.value .default,
    .resource.value .o-title:not(:empty) {
        padding: rhythm(.25);
        @include bleed-x(rhythm(.25));
        border-color: $gray-on-white;
        @include trailing-border(1px, .25, $base-font-size, solid);
        display: block;
    }

    .input-body {
        clear: both;
        background-color: #fff;
        padding: 0 rhythm(.25);
    }

    .resource.value .button:before {
        margin-right: .5em;
    }

    .value.delete span.restore-value {
        display: inline-block;
        padding: rhythm(.25);
    }

    .value.delete > *:not(.input-header) {
        display: none;
    }

    p.selected-resource {
        margin: 0;
    }
    
    /* @end */
    
    /* @group ----- Media ----- */
    
    .upload-zone {
        background-color: $gray-on-white;
        padding: rhythm(2) gutter() rhythm() gutter();
        text-align: center;
        
        p {
            @include trailer(0);
        }
    }
    
    #resource-files button {
        margin: rhythm() 0 0;
    }

    #add-media-field {
        @include trailer();
    }

    .media.row {
        padding: rhythm(.5) rhythm(.25);
        @include trailer(.25);
    }

    .media.row img {
        width: rhythm(1.5);
        margin: rhythm(-.25) .5em rhythm(-.25) 0;
    }

    .media.row > * {
        display: inline-block;
        vertical-align: middle;
        max-width: 80%;
        word-break: break-word;
    }

    .media.value.delete span.restore-value {
        padding: 0;
    }

    .value.delete > .actions {
        display: inline-block;
    }

    .media-render {
        @include trailer();
    }

    .media-render img {
        max-width: 100%;
        height: auto;
    }

    #item-media .sidebar label {
        @extend h4;
    }

    #item-media .sidebar select {
        width: 100%;
        display: block;
        @include leader(.5);
    }

    /* @end */

/* @end */

/* @group ----- Select Item Sidebar ----- */

.search-nav {
    width: 100%;
    
    .resource-search {
        width: 100%;
        position: relative;
        overflow: hidden;
        @include trailer();
    }
    
    #resource-list-search {
        float: left;
    }
    
    button.o-icon-search {
        height: rhythm(1.5);
        width: rhythm(1.5);
        line-height: $base-line-height;
        padding: 0 10px;
        @include border-radius(0 3px 3px 0);
        min-height: 0;
        position: absolute;
        top: 0;
        right: 0;
        text-indent: -9999px;
        
        &:before {
            text-indent: 0px;
            position: absolute;
            left: 0;
            top: rhythm(.25);
            line-height: 24px;
            width: 100%;
        }
    }

    .resource-search > input[type="text"] {
        width: calc(100% - #{rhythm(1.5)});
    }
    
    .expand:after {
        content: $fa-var-caret-right;
        font-family: "FontAwesome";
        margin-left: 3px;
    } 
    
    .collapse:after {
        content: $fa-var-caret-down;
        font-family: "FontAwesome";
        margin-left: 3px;
    }
    
    .pagination {
        border-color: rgba(0,0,0,.08);
        @include trailing-border(1px, .25, $base-font-size, solid);
        overflow: hidden;
        
        li {
            float: left;
        }
        
        li:first-of-type {
            padding-right: 10px;
        }
        
        input {
            width: 3em;
            text-align: center;
            color: #333;
            margin: 0 3px;
        }
        
        a.button {
            margin-right: 5px;
        }
    }
}

.resource-list {
    width: 100%;
    
    img {
        width: rhythm(1.5);
        float: left;
        margin-left: rhythm(.25);
    }
    
    .placeholder.no-image {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.08);
        
        &:after {
            content: $fa-var-cubes;
            font-family: "FontAwesome";
            text-align: center;
            display: inline-block;
            width: 100%;
            line-height: rhythm(1.5);
            color: #d2d2d2;
        }
    }
    
    .resource-name {
        display: inline-block;
        vertical-align: top;
        margin: rhythm(.25) 0 0 rhythm(.5);
    }

    img + .resource-name {
        width: calc(100% - #{rhythm(2.5)});
    }
    
    .resource {
        padding: rhythm(.25) 0;
        border-color: rgba(0,0,0,.08);
        @include trailing-border(1px, .25, $base-font-size, solid);
        position: relative;
        width: 100%;
        overflow: hidden;
        
        &:hover {
            background-color: rgba(255,255,255,.8);
        }
        
        &:hover .select {
            right: 0px;
        }
    }
}

#resource-details {
    background-color: #fff;
    overflow-y: scroll;
    @include padding-trailer(2.25);
    
    h1 {
        font-size: 2 * $base-font-size;
        line-height: 2 * $base-line-height;
        @include trailer(1, 2 * $base-font-size);
        padding: 0;
    }
    
    .o-description,
    .property {
        @include trailer();
    }
}


#select-item {
    position: fixed;
    width: span(4 of 16) - gutter(32);
    bottom: 0;
    right: 0;
    left: 100%;
    height: rhythm(2);
    background-color: #fff;
    padding: rhythm(.25) gutter();
    border-color: #d2d2d2;
    @include leading-border(1px, .25, $base-font-size, solid);
    border-left: 1px solid #d2d2d2;
    @include transition-duration(.5s);
    
    .button {
        width: 100%;
    }
}

#resource-details.active #select-item {
    left: span(12 of 16) + gutter(32);
}

/* @end */

/* @group ----- Import Vocabulary ----- */

.vocabs .field [type="file"] {
    margin: rhythm(.25) 0 0;
}

/* @end */

/* @group ----- Imported Vocabulary ----- */

.vocabulary ul {
    padding-left: 0;
    list-style: none;
    overflow: hidden;
}

.vocabulary h2 {
    margin-bottom: 0;
}

/* @end */

/* @group ----- Show Views ----- */

body.show .property {
    @include trailer();

    h4 {
        background-color: $gray-on-white;
        @include trailer(0);
        padding: rhythm(.25);
    }
    
    .value {
        padding: rhythm(.25);
        @include trailer(0);
        word-break: break-word;
        
        &:not(:last-child) {
            border-color: $gray-on-white;
            @include trailing-border(1px, .25, $base-font-size, solid);
        }
    }
}

body.show .sidebar .property {
    @include trailer(.5);
}

body.show .sidebar .property h4 {
    background-color: transparent;
    border-color: $gray-on-white;
    @include trailing-border(2px, .25, $base-font-size, solid);
}

body.show .sidebar .media a:first-child img,
body.show .sidebar > img:first-child {
    height: rhythm(7);
    width: auto;
    display: block;
    @include trailer(.5);
}

body.show .sidebar img {
    height: rhythm(2);
    display: inline-block;
    border-color: $gray-on-white;
    @include rhythm-borders(1px, 0, $base-font-size, solid);
}

.source-type {
    font-weight: bold;
}

    /* @group ----- Show Item ----- */
    
    .property .value a:after {
        font-family: "FontAwesome";
        display: inline-block;
        margin-left: .5em;
    }
    
    .property .value.uri a:after {
        content: $fa-var-external-link-square;
    }
    
    .property .value.items a:after {
        content: $fa-var-cube;
    }

    .property .value.item_sets a:after {
        content: $fa-var-cubes;
    }

    /* @end */

/* @end */

/* @group ----- Show Resource Template ----- */
    
.class-row {
    @include bleed-x(rhythm());
    border-color: $gray-on-white;
    @include trailing-border(1px, .5, $base-font-size, solid);
}

.class-label {
    font-weight: bold;
    
    &:after {
        content: ": ";
    }
}

/* @end */

/* @group ----- Edit Resource Template ----- */

.resource-template #properties {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.resource-template table {
    width: 100%;
    background-color: rgba(0,0,0,.08);
}

.resource-template th,
.resource-template td {
    padding: rhythm(.25);
    vertical-align: top;
}

.resource-template textarea {
    height: 1.5 * $base-line-height;
    padding: rhythm(.25);
    width: 100%;
}

.resource-template th:first-of-type,
.resource-template td:first-of-type, {
    width: span(2 of 10);
    padding-right: rhythm();
}

.resource-template th:nth-of-type(2) {
    width: span(2 of 10);
}

.resource-template th:nth-of-type(3) {
    width: span(4 of 10);
}

.resource-template .local-name {
    font-style: italic;
}

.resource-template .property.row {

    &.delete {
        background-color: #ffcccc;
    }

    label:first-child,
    input[type="text"],
    textarea {
        display: inline-block;
        vertical-align: top;
        resize: vertical;
    }
    
    label:first-child {
        padding: rhythm(.25) 0 rhythm(.25) rhythm(1.5);
    }
        
    .sortable-handle:before {
        cursor: move;
        content: $fa-var-reorder;
        font-family: "FontAwesome";
        position: absolute;
        left: .5em;
        opacity: .35;
        top: rhythm(.5, 1.25 * $base-font-size);
        font-size: 1.25 * $base-font-size;
        line-height: $base-line-height;
    }
}

.resource-template .property.row label:first-child {
    width: span(2 of 10);
    margin-right: span(1 of 10);
}

.resource-template .property.row .actions {
    position: absolute;
    right: span(7 of 10);
    top: rhythm(.5);
    padding: 0 rhythm(.25);
}

.resource-template #properties {
    margin: rhythm() 0 0;
    clear: both;
    padding: 0;
    
    & > li:first-child {
        @include field-row;
    }
}

.resource-template .property-heading {
    font-weight: bold;
    display: inline-block;
    width: span(3.5 of 10);
}

.resource-template .property-heading:first-of-type {
    padding-left: rhythm(1.5);
    width: span(3 of 10);
}

.resource-template .property-heading:not(:first-child),
.resource-template .property.row input[type="text"],
.resource-template .property.row textarea {
    margin-left: -4px;
}

.resource-template .property.row input[type="text"],
.resource-template .property.row textarea {
    width: span(3.375 of 10);
    margin-right: span(.125 of 10);
}

/* @end */

/* @group ----- Browse Modules ----- */

#modules.installed tbody tr:not(.installed),
#modules.uninstalled tbody tr:not(.uninstalled),
#modules.needs-upgrade tbody tr:not(.needs-upgrade),
#modules.active tbody tr:not(.active),
#modules.deactivated tbody tr:not(.deactivated) {
    display: none;
}

.state-filter select {
    @include trailer(.5);
}

/* @end */

/* @group ----- Advanced Search ----- */

.advanced-search select,
.advanced-search input[type="text"] {
    display: inline-block;
}

#value-queries select,
#value-queries input[type="text"],
.class-names select,
.class-names input[type="text"],
#has-property-queries select,
#has-property-queries input[type="text"] {
    width: 46.5%;
    margin-right: calc(1% - 4px);
}

#property-queries select,
#property-queries input[type="text"] {
    width: 30.66%;
    margin-right: calc(1% - 4px);
}

#advanced-search .field.removable .value:only-child .remove-value {
    display: none;
}

#advanced-search .remove-value {
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    width: 1.5 * $base-line-height;
    text-align: center;

    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5 * $base-line-height;
        line-height: 1.5 * $base-line-height;
        text-indent: 0;
    }
}

#advanced-search .value {
    @include trailer(.5);
}

/* @end */

/* @group ----- Minimal Layout ----- */

body.minimal {
    padding: 0;
    margin: rhythm(2) 0;
    width: span(8);
    @include container;
    height: auto;

    header {
        background-color: rgba(0,0,0,.3);
        position: static;
        @include container;
        width: auto;
        float: none;
        padding: rhythm() 0;
        border-color: rgba(0,0,0,.15);
        border-bottom-color: transparent;
        @include rhythm-borders(1px, 0, $base-font-size, solid);
        color: #fff;
    }
    
    .logo {
        position: static;
        width: auto;
        float: none;
        padding: 0;
        text-align: center;
        font-size: 2 * $base-font-size;
        line-height: 2 * $base-line-height;
    }
    
    div[role="main"] {
        width: 100%;
        min-height: 0;
        margin: 0;
        padding: rhythm(2) span(1 of 8);
        border-color: rgba(0,0,0,.15);
        overflow: hidden;
        @include rhythm-borders(1px, 0, $base-font-size, solid);
    }
    
    .inputs {
        width: span(7 of 10);
    }

    input {
          width: calc(66.66% - 6px);
          vertical-align: top;
    }
    
    .inputs *:only-child {
        width: 100%;
    }
    
    button[type="submit"] {
        display: block;
        margin: auto;
        clear: both;
    }
    
    .field:last-of-type {
        @include trailer();
    }
}

/* @end */
