.tablesaw-stack tbody tr {
    border-bottom: 0;
}

.tablesaw tr .actions {
    position: absolute;
    right: rhythm(.5);
    top: 50%;
    transform: translateY(-50%);

    li {
        margin: 0;
    }
}

.tablesaw td:first-of-type {
    background-color: $gray-on-white;
    position: relative;

    .tablesaw-cell-label {
        width: 0;
        overflow: hidden;
        padding: 0;
    }

    .tablesaw-cell-content {
        width: 100%;
        max-width: 100%;
    }

    .resource-name {
        display: inline-block;
        max-width: calc(100% - #{rhythm(6)});
        vertical-align: middle;
    }
}

.browse .tablesaw-cell-content {
    width: 70%;
    max-width: 70%;
}

.browse .tablesaw-cell-content img {
    margin: 0 rhythm(.25) 0 0;
}

.browse .tablesaw tr:last-of-type td,
.browse .tablesaw tr:last-of-type th,
.tablesaw th,
.tablesaw td {
    padding: rhythm(.25) rhythm(.5);
    vertical-align: top;
}

/* @group ----- Special cases ----- */

.page.browse .tablesaw {
    border-color: $gray-on-white;
    @include trailing-border(1px, 0, $base-font-size, solid);
}

.page.browse .tablesaw tr {
    position: relative;
}

.page.browse .tablesaw td:last-of-type {
    position: absolute;
    right: 0;
    height: rhythm(1.5);
    border: 0;
}

/* @end */