.tablesaw tr {
    overflow: hidden;
    margin-bottom: 0;

    &:first-of-type {
        border-top: 1px solid $border-gray;
    }
}

.tablesaw td:first-of-type {
    background-color: $gray-on-white;

    .tablesaw-cell-label {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    .tablesaw-cell-content {
        width: 100%;
        max-width: 100%;
    }

    .resource-name {
        display: inline-block;
        max-width: calc(100% - #{6 * $spacing-large});
        vertical-align: middle;
    }

    img {
        width: 2 * $base-line-height;
        margin-right: $spacing-medium;
    }
}

.batch-edit.tablesaw td:first-of-type {
    width: 100%;
    background: $gray-on-white;

    img {
        margin-bottom: 0;
    }

    .tablesaw-cell-label {
        width: 0;
        overflow: hidden;
        padding: 0;
    }
}

.batch-edit .tablesaw-cell-content {
    display: inline-flex;
}

.tablesaw-cell-content {
    width: 70%;
    max-width: 70%;
}

.tablesaw-cell-content img {
    margin: 0 $spacing-small 0 0;
}

.tablesaw tr:last-of-type td,
.tablesaw tr:last-of-type th,
.tablesaw th,
.tablesaw td {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    vertical-align: top;
}

.tablesaw th:not(:last-of-type),
.tablesaw td:not(:last-of-type) {
    border-bottom: 1px solid $border-gray;
}

/* @group ----- Special cases ----- */

.resource-template th:first-of-type,
.resource-template td:first-of-type {
    width: 100%;
}

/* @end */
