@import "font-awesome/variables";
@import "mixins";

script {
    display: none !important;
}

body {
    padding: 0;
}

.mobile-only {
    display: block;
}

button.mobile-only {
    width: 100%;
}

/* @group ----- Header ----- */

header {
    width: 100%;
    float: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    right: 0;
    z-index: 1000;
    min-height: 0;

    .button {
        border-radius: 0px;
        position: absolute;
        top: 0;
        z-index: 1001;
        color: #fff;
        background-color: var(--dark-blue);
        box-shadow: none;
    }

    .o-icon-menu.button {
        left: 0;
        border-right: 1px solid rgba(0,0,0,.08);
        width: calc(1.5 * var(--spacing-large));
    }

    .o-icon-search.button {
        left: calc(1.5 * var(--spacing-large));
    }

    .o-icon-user.button {
        right: 0;
    }

    nav ul.navigation > li:not(:first-of-type) {
        margin-top: 0;
    }
}

.logo {
    line-height: calc(1.5 * var(--base-line-height));
    padding: 0 gutter(1);
    width: 100%;
    text-align: center;
    display: block;
    background-color: var(--blue);
}

#user,
#search,
header nav {
    position: fixed;
    top: -9999px;
    left: -9999px;
    z-index: 1000;
}

header nav#site-nav {
    position: static;
    background-color: #fff;
    padding: 0;
    margin-bottom: 0;
}

header nav#site-nav h5 {
    border-top: 1px solid var(--border-gray);
    padding-top: calc(var(--spacing-small) -1px);
    margin-bottom: 0;
}

header nav#site-nav h5 a {
    padding: 0;
    border-bottom: 0;
}

#menu.active,
#user.active,
#search.active {
    top: calc(1.5 * var(--spacing-large));
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    margin: 0;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
    text-align: center;

    &:after {
        position: static;
        background: transparent;
    }
}

/* @end */

/* @group ----- Tables ----- */

.browse td:first-child,
.browse th:first-child {
    width: 100%;
}

td .o-icon-private,
td .o-icon-user-inactive {
    vertical-align: top;
    margin: 0;
}

/* @end */

/* @group ----- Global content ----- */

div[role="main"] {
    margin: calc(1.5 * var(--spacing-large)) 0 0 0;
    width: 100%;
    min-height: calc(100% - (3 * var(--spacing-large)));
    position: relative;
    padding-top: calc(2 * var(--spacing-large));

    & > h1:first-of-type {
        width: auto;
        position: static;
        padding: var(--spacing-medium) gutter();
        height: auto;
        margin: 0 -#{gutter()} var(--spacing-medium);
        white-space: normal;
        line-height: calc(1.5 * var(--base-line-height));
    }
}

/* @end */

/* @group ----- Navigation ----- */

#menu {
    text-align: left;
    background-color: #fff;
    position: fixed;
    overflow: scroll;
}

#menu ul {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

#menu a {
    display: block;
    padding: var(--spacing-small) var(--spacing-medium) #{var(--spacing-small) - 1px};
    color: #676767;
    border-bottom: 1px solid var(--border-gray);
}

#menu li:last-child a {
    border-bottom: 0;
    padding-bottom: var(--spacing-small);
}

#menu h5 a {
    padding: 0;
    border-bottom: 0;
}

#menu h5 {
    height: calc(1.5 * var(--base-line-height));
    color: #676767;
    background-color: var(--gray-on-white);
    padding: var(--spacing-small) var(--spacing-medium) calc(var(--spacing-small) - 1px);
    border: 1px solid var(--border-gray);
    border-width: 1px 0;
}

#menu h4 {
    background-color: color-mix(in srgb, var(--gray-on-white), #ffffff 8%);
    margin-bottom: 0;

    &:not(:first-of-type) {
        margin-top: 0;
    }
}

#menu a.public,
#menu a.expand,
#menu a.collapse {
    height: calc(1.5 * var(--base-line-height));
    margin: calc(-1.5 * var(--spacing-large)) 0 0;
    padding: 0 var(--spacing-medium) 0 0;

    &:before,
    &:after {
        height: calc(1.5 * var(--base-line-height));
        line-height: calc(1.5 * var(--base-line-height));
    }
}

#mobile-nav {
    display: block;
}

#mobile-nav a.active {
    background-color: color-mix(in srgb, var(--red), #000000 20%);
}

#user {
    text-align: center;
}

#user .user-id {
    color: var(--copy-gray);
    width: 100%;
    margin: 0 var(--spacing-small) var(--spacing-large);

    a {
        color: var(--red);
    }
}

#user .logout {
    display: block;
    margin: var(--spacing-medium) var(--spacing-small);
    font-size: var(--base-font-size);
    color: var(--copy-gray);
    border-radius: 3px;
    width: calc(100% - #{var(--spacing-medium)});
    min-height: calc(1.5 * var(--spacing-large));
    background-color: rgba(0,0,0,.08);
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset;
    padding: var(--spacing-small) 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0 var(--spacing-small);

    &:last-of-type:before {
        content: "";
    }

    a {
        color: var(--copy-gray);
    }
}

#page-actions {
    top: calc(1.5 * var(--spacing-large));
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.08);
    height: calc(2 * var(--spacing-large));
    padding-bottom: calc(var(--spacing-small) - 1px);
}

/* @end */

/* @group ----- Sidebars ----- */

#sidebar {
    position: fixed;
    top: calc(1.5 * var(--spacing-large));
    z-index: 100;
    width: 100%;

    #content.sidebar-open {
        left: 0;
    }
}

body.sidebar-open #content {
    width: 100%;
}

.sidebar {
    width: 100%;
    top: calc(1.5 * var(--spacing-large));
    z-index: 1000;
}

.sidebar.always-open {
    left: 100%;
}

.sidebar.active,
.confirm-panel {
    left: 0;
    width: 100%;
}

fieldset.section > .always.active {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(2 * var(--spacing-large));
    background-color: #fff;
    position: fixed;
    border-top: 1px solid var(--gray-on-white);

    button {
        width: 100%;
        margin: var(--spacing-small);
    }
}

/* @end */

/* @group ----- Module: Browse ----- */

#modules .module-meta,
#modules .module-actions {
    width: 100%;
    max-width: 100%;
}

#modules .module-meta {
    margin-bottom: var(--spacing-medium);
}

#modules .module-actions {
    text-align: left;
}

#modules button,
#modules .button {
    margin: 0 var(--spacing-small) 0 0;
}

/* @end */

/* @group ----- Vocabulary: Update ----- */

.vocabs.update td {
    width: 100% !important;
}

/* @end */

/* @group ----- Search ----- */

#search-form {
    margin: calc(2 * var(--spacing-large)) gutter(4);
    position: relative;
}

/* @end */

/* @group ----- Browse views ----- */

.batch-edit.button {
    margin: 0;
    border-radius: 0px;
    position: relative;
    z-index: 1;
}

.browse table {
    position: relative;
}

.browse .sorting {
    float: left;
}

.browse .pagination {
    margin-right: calc(2 * var(--spacing-large));
}

.jobs.browse th:first-child, 
.jobs.browse td:first-child {
    width: 100%;
}

.browse .browse-controls {
    min-width: 0;
    width: 100%;
}

/* @end */

/* @group ----- Add/Edit views ----- */

fieldset.section,
fieldset.section {
    margin-bottom: 0;
    position: relative;
}

fieldset.section > legend:first-child {
    position: relative;
    left: auto;
    display: block;
    width: 100%;
    font-size: calc(1.25 * var(--base-font-size));
    padding: var(--spacing-small) calc(1.5 * var(--spacing-small)) var(--spacing-small) 0;
    color: var(--red);
    cursor: pointer;
    border-bottom: 3px solid rgba(0,0,0,.08);
    padding-bottom: -3px;
    margin-bottom: var(--spacing-medium);
}

fieldset.section > legend:after {
    content: fa-content($fa-var-caret-right);
    @include font-awesome;
    position: absolute;
    right: calc(1.5 * var(--spacing-small));
    top: var(--spacing-medium);
}

fieldset.section.mobile-active > legend:after{
    content: fa-content($fa-var-caret-down);
}

.add .active.section > .button,
.edit .active.section > .button {
    display: inline-block;
}

.field-meta,
.inputs {
    width: 100%;
}

.field-actions {
    position: absolute;
    top: calc(1.5 * var(--spacing-small));
    right: gutter(10);
    z-index: 1;
    width: 50%;

    a {
        float: right;
        display: block;

        &.button {
            margin-left: .5em !important;
        }

    }
}

.field-meta label,
.field-description p {
    line-height: var(--base-line-height);
    margin-bottom: var(--spacing-small);
}

.field-meta label {
    font-weight: bold;
}


.unset .field-meta {
    width: 100%;
}
/* @end */

/* @group ----- Show views ----- */

.show .sidebar.active {
    position: static;
    border: 1px solid var(--border-gray);
    padding: (var(--spacing-medium) - 1px);
    margin-top: var(--spacing-large);
}

.show .section .property,
.show .section .meta-group {
    margin-bottom: var(--spacing-small);
    box-shadow: 0 0 0 1px var(--border-gray);
    border-radius: 2px;
}

.show .section .meta-group h4,
.show .section .property h4 {
    padding-bottom: var(--spacing-small);
    border-bottom: 1px solid var(--border-gray);
    background-color: var(--gray-on-white);
}

.show .section .meta-group h4,
.show .section .meta-group .value,
.show .section .property h4,
.show .section .property .values {
    width: 100% !important;
    padding: var(--spacing-small) !important;
}

.show .section .meta-group .value:not(:first-of-type),
.show .section .property .value:not(:first-of-type) {
    border-top: 1px solid var(--border-gray);
    padding-top: (var(--spacing-small) -1px);
    margin-top: var(--spacing-small);
}

.show .sidebar .meta-group .value:not(:first-of-type),
.show .sidebar .property .value:not(:first-of-type) {
    padding-top: var(--spacing-small);
}

/* @end */

/* @group ----- Minimalist views ----- */

body.minimal {
    width: 100%;
    margin: 0;

    .logo {
        background-color: transparent;
    }

    div[role="main"] {
        padding: var(--spacing-large) span(1 of 16);
    }

    div[role="main"] > .messages {
        margin-top: var(--spacing-large);
    }

    .inputs {
        width: 100%;
        margin-left: 0;
    }

    footer {
        color: white;
    }
}

/* @end */
