@import "font-awesome/variables";

script {
    display: none !important;
}

body {
    padding: 0;
}

.mobile-only {
    display: block;
}

button.mobile-only {
    width: 100%;
}

/* @group ----- Header ----- */

header {
    width: 100%;
    float: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    right: 0;
    z-index: 1000;
    min-height: 0;

    .button {
        @include border-radius(0);
        position: absolute;
        top: 0;
        z-index: 1001;
        color: #fff;
        background-color: darken($blue, 15%);
        box-shadow: none;
    }

    .o-icon-menu.button {
        left: 0;
        border-right: 1px solid rgba(0,0,0,.08);
        width: rhythm(1.5);
    }

    .o-icon-search.button {
        left: rhythm(1.5);
    }

    .o-icon-user.button {
        right: 0;
    }

    nav ul.navigation > li:not(:first-of-type) {
        margin-top: 0;
    }
}

.logo {
    line-height: 1.5 * $base-line-height;
    padding: 0 gutter(1);
    width: 100%;
    text-align: center;
    display: block;
    background-color: $blue;
}

#user,
#search,
header nav {
    position: fixed;
    top: -9999px;
    left: -9999px;
    z-index: 1000;
}

header nav#site-nav {
    position: static;
    background-color: #fff;
    padding: 0;
    margin-bottom: 0;
}

header nav#site-nav h5 {
    border-color: $border-gray;
    @include leading-border(1px, .25, .875 * $base-font-size);
    margin-bottom: 0;
}

header nav#site-nav h5 a {
    padding: 0;
    border-bottom: 0;
}

#menu.active,
#user.active,
#search.active {
    top: rhythm(1.5);
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    margin: 0;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
    text-align: center;

    &:after {
        position: static;
        background: transparent;
    }
}

/* @end */

/* @group ----- Tables ----- */

.browse td:first-child,
.browse th:first-child {
    width: 100%;
}

td .o-icon-private {
    vertical-align: top;
    margin: 0;
}

.browse .resource-name {
    max-width: 100%;
    display: inline;
    vertical-align: top;
}

/* @end */

/* @group ----- Global content ----- */

#content {
    margin: rhythm(1.5) 0 0 0;
    width: 100%;
    min-height: calc(100% - #{rhythm(3)});
    position: relative;
    padding-top: rhythm(2);

    & > h1:first-of-type {
        width: auto;
        position: static;
        margin-top: 0;
        padding: 0 gutter();
        height: auto;
        margin: 0 -#{gutter()};
    }
}

/* @end */

/* @group ----- Navigation ----- */

#menu {
    text-align: left;
    background-color: #fff;
    position: fixed;
    overflow: scroll;
}

#menu ul {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

#menu a {
    display: block;
    padding: rhythm(.25) rhythm(.5);
    color: #676767;
    border-color: $border-gray;
    @include trailing-border(1px, .25, $base-font-size, solid);
}

#menu li:last-child a {
    @include trailing-border(0px, .25, $base-font-size, solid);
}

#menu h5 a {
    padding: 0;
    border-bottom: 0;
}

#menu h5 {
    height: 1.5 * $base-line-height;
    color: #676767;
    padding: rhythm(.25) rhythm(.5);
    background-color: $gray-on-white;
    border-color: $border-gray;
    @include trailing-border(1px, .25, $base-font-size, solid);
}

#menu h5 {
    padding: rhythm(.25, .875 * $base-font-size) rhythm(.5, .875 * $base-font-size);
    @include trailing-border(1px, .25, .875 * $base-font-size, solid);
}

#menu h4 {
    background-color: opacify($gray-on-white, .08);
    margin-bottom: 0;

    &:not(:first-of-type) {
        margin-top: 0;
    }
}

#menu a.public,
#menu a.expand,
#menu a.collapse {
    height: 1.5 * $base-line-height;
    margin: rhythm(-1.5) 0 0;
    padding: 0 rhythm(.5) 0 0;

    &:before,
    &:after {
        height: 1.5 * $base-line-height;
        line-height: 1.5 * $base-line-height;
    }
}

#mobile-nav {
    display: block;
}

#mobile-nav a.active {
    background-color: darken($red, 20%);
}

#user {
    text-align: center;
}

#user p {
    display: block;
    margin: rhythm(.5) 0;
    background-color: lighten($red, 15%);
    padding: rhythm(.25) 0;
    @include border-radius(3px);

    &:last-of-type:before {
        content: "";
    }

    a {
        color: lighten($red, 45%);
    }
}

#page-actions {
    top: rhythm(1.5);
    background-color: #fff;
    width: 100%;
    border-color: rgba(0,0,0,.08);
    height: rhythm(2);
    @include trailing-border(1px, .25, $base-font-size, solid);
}

/* @end */

/* @group ----- Sidebars ----- */

#sidebar {
    position: fixed;
    top: rhythm(1.5);
    z-index: 100;
    width: 100%;

    #content.sidebar-open {
        left: 0;
    }
}

body.sidebar-open #content {
    width: 100%;
}

.sidebar {
    width: 100%;
}

.sidebar.always-open {
    left: 100%;
}

.sidebar.active,
#resource-details.active #select-item,
.confirm-panel {
    left: 0;
    width: 100%;
}

fieldset.section > .always.active {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: rhythm(2);
    background-color: #fff;
    position: fixed;
    border-top: 1px solid $gray-on-white;

    button {
        width: 100%;
        margin: rhythm(.25);
    }
}

/* @end */

/* @group ----- Search ----- */

#search-form {
    margin: rhythm(2) gutter(4);
}

/* @end */

/* @group ----- Browse views ----- */

.batch-edit.button {
    margin: 0;
    @include border-radius(0px);
    position: relative;
    z-index: 1;
}

.browse table {
    position: relative;
}

.browse .sorting {
    float: left;
}

.browse .pagination {
    margin-right: rhythm(2);
}

.browse tr:last-of-type td:not(:last-of-type) {
    @include trailing-border(0px, 0, $base-font-size, solid);
}

/* @end */

/* @group ----- Add/Edit views ----- */

fieldset.section,
fieldset.section {
    margin-bottom: 0;
    position: relative;
}

fieldset.section > legend:first-child {
    position: relative;
    left: auto;
    display: block;
    width: 100%;
    font-size: 1.25 * $base-font-size;
    padding: rhythm(.25, 1.25 * $base-font-size) rhythm(.375, 1.25 * $base-font-size) rhythm(.25, 1.25 * $base-font-size) 0;
    color: $red;
    cursor: pointer;
    border-color: rgba(0,0,0,.08);
    @include trailing-border(3px, 0, 1.25 * $base-font-size, solid);
    margin-bottom: rhythm(.5, 1.25 * $base-font-size);
}

fieldset.section > legend:after {
    content: "\f0da";
    font-family: "FontAwesome";
    position: absolute;
    right: rhythm(.375, 1.5 * $base-font-size);
    top: rhythm(.5, 1.5 * $base-font-size);
}

fieldset.section.mobile-active > legend:after{
    content: "\f0d7";
}

fieldset.section > *:not(legend) {
    display: none;
}
    fieldset.section > #item-item-sets.empty + .no-resources {
        display: none;
    }

fieldset.section.mobile-active > *:not(legend) {
    display: block;
}

    fieldset.section.mobile-active > #item-item-sets.empty + .no-resources {
        display: block;
        margin-top: rhythm(2);
    }

fieldset.section.mobile-active > table {
    display: table;
}

fieldset.section:not(a) {
    display: block;
}

.add .active.section > .button,
.edit .active.section > .button {
    display: inline-block;
}

.section-nav {
    position: absolute;
    left: -9999px;
}

.field-meta,
.inputs {
    width: 100%;
}

.field-actions {
    position: absolute;
    top: rhythm(.375);
    right: gutter(10);
    z-index: 1;
    width: 50%;

    a {
        float: right;
        display: block;

        &.button {
            margin-left: .5em !important;
        }

    }
}

.field-meta label,
.field-description p {
    line-height: $base-line-height;
    @include trailer(.25);
}

.field-meta label {
    font-weight: bold;
}


.unset .field-meta {
    width: 100%;
}
/* @end */

/* @group ----- Minimalist views ----- */

body.minimal {
    width: 100%;
    margin: 0;

    .logo {
        background-color: transparent;
    }

    div[role="main"] {
        padding: rhythm() span(1 of 16);
    }

    div[role="main"] > .messages {
        @include trailer();
    }

    .inputs {
        width: 100%;
        margin-left: 0;
    }
}

/* @end */
