@import "base";

#user-bar {
    font-family: "Lato", sans-serif;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: #fff;
    background-color: var(--blue);
    padding: var(--spacing-small) var(--spacing-large);
    display: flex;
    justify-content: space-between;
}

#user-bar .admin:not(:last-child):after {
    content: "\2022";
    margin: 0 var(--spacing-medium);
}

#user-bar a {
    color: var(--light-blue);
    background-color: transparent
}

#user-bar .logout,
#user-bar .login {
    font-size: calc(.75 * var(--base-font-size));
    padding: 0 var(--spacing-small);
    background-color: var(--dark-blue);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    margin-left: var(--spacing-medium);
}

#user-bar .login {
    margin-left: auto;
}

#user-bar .o-icon-edit {
    margin-left: var(--spacing-medium);
}
