body {
    padding: 0 gutter(2);
    height: intrinsic;
}

/* @group ----- Header ----- */

header {
    @include calc('width', '100% - ' + (2 * gutter(2)));
    float: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: gutter(2);
    padding: 0;
    right: gutter(2);
    z-index: 1000;
    
    .button {
        @include border-radius(0);
        position: absolute;
        top: 0;
        z-index: 1001;
    }
    
    .fa-menu.button {
        left: 0;
        border-right: 1px solid rgba(0,0,0,.08);
        width: rhythm(1.5);
    }
    
    .fa-search.button {
        left: rhythm(1.5);
    }
    
    .fa-current-user.button {
        right: 0;
    }
}

.logo {
    line-height: 1.5 * $base-line-height;
    padding: 0 gutter(1);
    width: 100%;
    text-align: center;
    display: block;
    background-color: #e7e7e7;
}

#current-user,
#menu,
#save-sidebar,
#search,
footer {
    position: fixed;
    top: -9999px;
    left: -9999px;
    z-index: 1000;
}

#menu.active,
#current-user.active,
#search.active {
    top: rhythm(1.5);
    left: gutter(2);
    bottom: 0;
    right: gutter(2);
    background-color: #fff;
    width: intrinsic;
    margin: 0;
}

/* @end */

/* @group ----- Global content ----- */

div[role="main"] {
    margin: rhythm(1.5) 0 0 0;
    width: 100%;
    @include calc('min-height', '100% - ' + rhythm(3));
    position: relative;
    padding-top: rhythm(2.5);
    
    & > h1:first-of-type {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* @end */

/* @group ----- Navigation ----- */

#menu {
    text-align: left;
}

#menu a {
    display: block;
    padding: rhythm(.5) gutter(12);
    border-color: rgba(0,0,0,.08);
    @include trailing-border(1px, .5, $base-font-size, solid);
    background-color: #fff;
}

#mobile-nav {
    display: block;
}

#mobile-nav a.active {
    background-color: darken($red, 20%);
}

#page-actions {
    position: static;
    text-align: left;
    padding: 0;
    width: 100%;
    border-color: rgba(0,0,0,.08);
    @include trailing-border(1px, 0, $base-font-size, solid);
    height: auto;
    @include trailer(.5);
}

.pagination {
    width: 100%;
}

/* @end */

/* @group ----- Search ----- */

#search-form {
    margin: rhythm(2) gutter(4);
}

/* @end */

/* @group ----- Browse views ----- */

.batch-edit.button {
    margin: 0;
    @include border-radius(0px);
    position: relative;
    z-index: 1;
}

.browse table {
    position: relative;
}

.browse .batch-edit + .mobile-container:before {
    content: "";
    height: rhythm(1.5);
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    @include leader(-1.5);
    left: gutter();
    right: gutter();
    z-index: 0;
}

.mobile-container td:nth-of-type(2),
.mobile-container th:nth-of-type(2) {
    width: 100%;
}

.mobile-container {
    width: 100%;
    overflow: hidden;
}

.mobile-container table {
    width: min-intrinsic;
    margin-bottom: 0;
    position: static;
}

.mobile-container th,
.mobile-container td {
    position: absolute;
    left: -9999px;
}

.mobile-container th:first-of-type,
.mobile-container td:first-of-type,
.mobile-container th:nth-of-type(2),
.mobile-container td:nth-of-type(2) {
    position: relative;
    left: auto;
}

.modal.small {
    width: 80%;
    min-height: 40%;
}

#more,
#delete {
    position: fixed;
    top: rhythm(1.5);
    z-index: 100;
    width: 100%;

    &.active {
        left: 0;
    }
}

/* @end */

/* @group ----- Add/Edit views ----- */

.add fieldset,
.edit fieldset {
    margin-bottom: 0;
}

.add legend,
.edit legend {
    position: relative;
    left: auto;
    font-size: 1.5 * $base-font-size;
    background-color: lighten($red, 20%);
    display: block;
    width: 100%;
    padding: rhythm(.5, 1.5 * $base-font-size) rhythm(.375, 1.5 * $base-font-size);
    color: #fff;
    cursor: pointer;
    border-color: rgba(0,0,0,.08);
    @include trailing-border(1px, 0, $base-font-size, solid);
}

.add legend:after,
.edit legend:after {
    content: "\f0da";
    font-family: "FontAwesome";
    position: absolute;
    right: rhythm(.375, 1.5 * $base-font-size);
    top: rhythm(.5, 1.5 * $base-font-size);
}

.add .active legend:after,
.edit .active legend:after {
    content: "\f0d7";
}

.add .section,
.edit .section,
.add .active.section > *:not(legend),
.edit .active.section > *:not(legend) {
    display: block;
}

.add .section > *:not(legend),
.edit .section > *:not(legend),
.add .section .field.template,
.edit .section .field.template {
    display: none;
}

.add .active.section > .button,
.edit .active.section > .button {
    display: inline-block;
}

.section-nav {
    position: absolute;
    left: -9999px;
}

.field-meta,
.inputs {
    width: 100%;
}

.field-actions {
    position: absolute;
    top: rhythm(.375);
    right: gutter(10);
    z-index: 1;
    width: 50%;
    
    a {
        float: right;
        display: block;
        
        &.button {
            margin-left: .5em !important;
        }

    }
}

.field-meta label,
.field-description p {
    line-height: $base-line-height;
    @include trailer(.25);
}

.field-meta label {
    font-weight: bold;
}

.field-description {
    height: $base-line-height;
    float: none;
    display: inline-block;
    margin-left: .25em;
    position: absolute;
}

.unset .field-meta {
    width: 100%;
}
/* @end */

/* @group ----- Minimalist views ----- */

body.minimal {
    width: span(12);
    
    .logo {
        background-color: transparent;
    }
    
    div[role="main"] > .messages {
        @include trailer();
    }
}

/* @end */