<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE phpunit>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
    bootstrap="test/bootstrap.php"
    backupGlobals="false"
    colors="true"
    verbose="true"
    forceCoversAnnotation="false"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    >
    <testsuites>
        <testsuite name="LinkedDataSets">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
